Source: haskell-formatting
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Dmitry Bogatov <KAction@gnu.org>
Priority: extra
Section: haskell
Build-Depends: debhelper (>= 9.0),
 haskell-devscripts (>= 0.9),
 cdbs,
 ghc,
 ghc-prof,
 libghc-scientific-dev (>= 0.3.0.0),
 libghc-scientific-prof,
 libghc-text-dev (>= 0.11.0.8),
 libghc-text-prof,
 libghc-text-format-dev,
 libghc-text-format-prof,
 libghc-clock-dev (>= 0.4),
 libghc-clock-prof
Build-Depends-Indep: ghc-doc,
 libghc-scientific-doc,
 libghc-text-doc,
 libghc-text-format-doc,
 libghc-clock-doc
Standards-Version: 3.9.6
Homepage: http://hackage.haskell.org/package/formatting
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-formatting
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-formatting
X-Description: Combinator-based type-safe formatting
 Combinator-based type-safe formatting (like printf() or FORMAT),
 modelled from the HoleyMonoids package.

Package: libghc-formatting-dev
Architecture: any
Depends: ${haskell:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Conflicts: ${haskell:Conflicts},
Provides: ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-formatting-prof
Architecture: any
Depends: ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Conflicts: ${haskell:Conflicts},
Provides: ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-formatting-doc
Architecture: all
Section: doc
Depends: ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Conflicts: ${haskell:Conflicts},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}
