Source: haskell-byteorder
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Clint Adams <clint@debian.org>
Priority: extra
Section: haskell
Build-Depends: debhelper (>= 9),
 haskell-devscripts (>= 0.10),
 cdbs,
 ghc,
 ghc-prof,
Build-Depends-Indep: ghc-doc,
Standards-Version: 3.9.8
Homepage: http://community.haskell.org/~aslatter/code/byteorder
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-haskell/DHG_packages.git/
Vcs-Git: https://anonscm.debian.org/cgit/pkg-haskell/DHG_packages.git

Package: libghc-byteorder-dev
Architecture: any
Depends: ${haskell:Depends},
 ${shlibs:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Provides: ${haskell:Provides},
Description: exposes the native endianness or byte ordering of the system${haskell:ShortBlurb}
 This is for working with the native byte-ordering of the system.
 .
 ${haskell:Blurb}

Package: libghc-byteorder-prof
Architecture: any
Depends: ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Provides: ${haskell:Provides},
Description: exposes the native endianness of the system${haskell:ShortBlurb}
 This is for working with the native byte-ordering of the system.
 .
 ${haskell:Blurb}

Package: libghc-byteorder-doc
Architecture: all
Section: doc
Depends: ${misc:Depends},
 ${haskell:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Description: exposes the native endianness or byte ordering of the system${haskell:ShortBlurb}
 This is for working with the native byte-ordering of the system.
 .
 ${haskell:Blurb}
