Source: haskell-diagrams-lib
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Joachim Breitner <nomeata@debian.org>
Priority: extra
Section: haskell
Build-Depends: debhelper (>= 9),
 cdbs,
 haskell-devscripts (>= 0.9),
 ghc,
 ghc-prof,
 ghc-ghci,
 libghc-semigroups-dev (>= 0.3.4),
 libghc-semigroups-dev (<< 0.17),
 libghc-semigroups-prof,
 libghc-monoid-extras-dev (>= 0.2.2),
 libghc-monoid-extras-dev (<< 0.4),
 libghc-monoid-extras-prof,
 libghc-dual-tree-dev (>= 0.2),
 libghc-dual-tree-dev (<< 0.3),
 libghc-dual-tree-prof,
 libghc-diagrams-core-dev (>= 1.2),
 libghc-diagrams-core-dev (<< 1.3),
 libghc-diagrams-core-prof,
 libghc-active-dev (>= 0.1),
 libghc-active-dev (<< 0.2),
 libghc-active-prof,
 libghc-vector-space-dev (>= 0.7.7),
 libghc-vector-space-dev (<< 0.11),
 libghc-vector-space-prof,
 libghc-vector-space-points-dev (>= 0.1.2),
 libghc-vector-space-points-dev (<< 0.3),
 libghc-vector-space-points-prof,
 libghc-colour-dev (>= 2.3.2),
 libghc-colour-dev (<< 2.4),
 libghc-colour-prof,
 libghc-data-default-class-dev (<< 0.1),
 libghc-data-default-class-prof,
 libghc-fingertree-dev (>= 0.1),
 libghc-fingertree-dev (<< 0.2),
 libghc-fingertree-prof,
 libghc-intervals-dev (>= 0.7),
 libghc-intervals-dev (<< 0.8),
 libghc-intervals-prof,
 libghc-lens-dev (>= 4.0),
 libghc-lens-dev (<< 4.10),
 libghc-lens-prof,
 libghc-memotrie-dev (>= 0.6),
 libghc-memotrie-dev (<< 0.7),
 libghc-memotrie-prof,
 libghc-optparse-applicative-dev (>= 0.10),
 libghc-optparse-applicative-dev (<< 0.12),
 libghc-optparse-applicative-prof,
 libghc-juicypixels-dev (>= 3.1.5),
 libghc-juicypixels-dev (<< 3.3),
 libghc-juicypixels-prof,
 libghc-tagged-dev (>= 0.7),
 libghc-tagged-prof,
 libghc-hashable-dev (>= 1.1),
 libghc-hashable-dev (<< 1.3),
 libghc-hashable-prof,
 libghc-cabal-dev (>= 1.18),
Build-Depends-Indep: ghc-doc,
 libghc-semigroups-doc,
 libghc-monoid-extras-doc,
 libghc-dual-tree-doc,
 libghc-diagrams-core-doc,
 libghc-active-doc,
 libghc-vector-space-doc,
 libghc-vector-space-points-doc,
 libghc-colour-doc,
 libghc-data-default-class-doc,
 libghc-fingertree-doc,
 libghc-intervals-doc,
 libghc-lens-doc,
 libghc-memotrie-doc,
 libghc-optparse-applicative-doc,
 libghc-tagged-doc,
 libghc-juicypixels-doc,
 libghc-hashable-doc,
Standards-Version: 3.9.5
Homepage: http://hackage.haskell.org/package/diagrams-lib
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-diagrams-lib
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-diagrams-lib

Package: libghc-diagrams-lib-dev
Architecture: any
Depends: ${haskell:Depends},
 ${shlibs:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
 libghc-diagrams-dev,
Provides: ${haskell:Provides},
Description: Embedded domain-specific language for declarative graphics${haskell:ShortBlurb}
 Diagrams is a flexible, extensible EDSL for creating graphics of many types.
 Graphics can be created in arbitrary vector spaces and rendered with multiple
 backends.  diagrams-lib provides a standard library of primitives and
 operations for creating diagrams.  To get started using it, see
 "Diagrams.Prelude".
 .
 ${haskell:Blurb}

Package: libghc-diagrams-lib-prof
Architecture: any
Depends: ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
 libghc-diagrams-prof,
Provides: ${haskell:Provides},
Description: Embedded domain-specific language for declarative graphics${haskell:ShortBlurb}
 Diagrams is a flexible, extensible EDSL for creating graphics of many types.
 Graphics can be created in arbitrary vector spaces and rendered with multiple
 backends.  diagrams-lib provides a standard library of primitives and
 operations for creating diagrams.  To get started using it, see
 "Diagrams.Prelude".
 .
 ${haskell:Blurb}

Package: libghc-diagrams-lib-doc
Architecture: all
Section: doc
Depends: ${misc:Depends},
 ${haskell:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
 libghc-diagrams-doc,
Description: Embedded domain-specific language for declarative graphics${haskell:ShortBlurb}
 Diagrams is a flexible, extensible EDSL for creating graphics of many types.
 Graphics can be created in arbitrary vector spaces and rendered with multiple
 backends.  diagrams-lib provides a standard library of primitives and
 operations for creating diagrams.  To get started using it, see
 "Diagrams.Prelude".
 .
 ${haskell:Blurb}
