#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/hlibrary.mk

# How to install an extra file into the documentation package
#binary-fixup/libghc-ghc-mod-doc::
#	echo "Some informative text" > debian/libghc-ghc-mod-doc/usr/share/doc/libghc-ghc-mod-doc/AnExtraDocFile

build/ghc-mod :: build-ghc-stamp

install/ghc-mod :: debian/tmp-inst-ghc
	mkdir -p debian/ghc-mod/usr/bin
	cp debian/tmp-inst-ghc/usr/bin/ghc-mod debian/ghc-mod/usr/bin/
	mkdir -p debian/ghc-mod/usr/share/emacs/site-lisp/ghc-mod
	cp debian/tmp-inst-ghc/usr/share/ghc-mod-*/*.el debian/ghc-mod/usr/share/emacs/site-lisp/ghc-mod/
