#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/hlibrary.mk

build/$(CABAL_PACKAGE) :: build-ghc-stamp

debian/install: debian/install.in
	sed -e "s#@CABAL_VERSION@#$(CABAL_VERSION)#g" < $^ > $@

install/$(CABAL_PACKAGE):: debian/install
