Source: gitit
Priority: extra
Section: haskell
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Giovanni Mascellani <gio@debian.org>
Build-Depends:
 debhelper (>= 7),
 haskell-devscripts (>= 0.8.8),
 cdbs,
 ghc,
 pandoc (>= 1.8),
 xsltproc,
 docbook-xsl,
 libghc-pandoc-dev (>= 1.8.1.1-2),
 libghc-pandoc-types-dev (>= 1.8),
 libghc-safe-dev,
 libghc-parsec3-dev,
 libghc-xhtml-dev,
 libghc-mtl-dev,
 libghc-cgi-dev,
 libghc-network-dev (>= 2.1.0.0),
 libghc-highlighting-kate-dev (>= 0.2.7.1),
 libghc-utf8-string-dev (>= 0.3),
 libghc-sha-dev (>= 1.1),
 libghc-http-dev (>= 4000.0),
 libghc-hstringtemplate-dev (>= 0.6),
 libghc-recaptcha-dev (>= 0.1),
 libghc-filestore-dev (>= 0.4.0.3-2),
 libghc-filestore-data (>= 0.4.0.3-2),
 libghc-zlib-dev (>= 0.5),
 libghc-url-dev (>= 2.1),
 libghc-happstack-server-dev (>= 6.0),
 libghc-happstack-util-dev (>= 6.0),
 libghc-xml-dev (>= 1.3.5),
 libghc-hslogger-dev (>= 1),
 libghc-configfile-dev (>= 1),
 libghc-feed-dev (>= 0.3.6),
 libghc-xss-sanitize-dev (>= 0.2),
 libghc-json-dev (>= 0.4)
Build-Depends-Indep:
 ghc-doc,
 libghc-pandoc-doc (>= 1.8.1.1-2),
 libghc-pandoc-types-doc (>= 1.8),
 libghc-safe-doc,
 libghc-parsec3-doc,
 libghc-xhtml-doc,
 libghc-mtl-doc,
 libghc-cgi-doc,
 libghc-network-doc (>= 2.1.0.0),
 libghc-highlighting-kate-doc (>= 0.2.7.1),
 libghc-utf8-string-doc (>= 0.3),
 libghc-sha-doc (>= 1.1),
 libghc-http-doc (>= 4000.0),
 libghc-hstringtemplate-doc (>= 0.6),
 libghc-recaptcha-doc (>= 0.1),
 libghc-filestore-doc (>= 0.4.0.3-2),
 libghc-zlib-doc (>= 0.5),
 libghc-url-doc (>= 2.1),
 libghc-happstack-server-doc (>= 6.0),
 libghc-happstack-util-doc (>= 6.0),
 libghc-xml-doc (>= 1.3.5),
 libghc-hslogger-doc (>= 1),
 libghc-configfile-doc (>= 1),
 libghc-feed-doc (>= 0.3.6),
 libghc-xss-sanitize-doc (>= 0.2),
 libghc-json-doc (>= 0.4)
Standards-Version: 3.9.2
Homepage: http://hackage.haskell.org/package/gitit
Vcs-Darcs: http://darcs.debian.org/darcs/pkg-haskell/gitit
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/gitit

Package: gitit
Architecture: any
Depends:
 ${haskell:Data-Depends},
 ${misc:Depends},
 ${shlibs:Depends},
 libjs-jquery,
 libjs-jquery-ui
Description: Wiki engine backed by a git or darcs filestore
 Gitit is a wiki backed by a git or darcs filestore. Pages and uploaded files
 can be modified either directly via the VCS’s command-line tools or through
 the wiki’s web interface. Pandoc is used for markup processing, so pages may
 be written in (extended) markdown, reStructuredText, LaTeX, HTML, or literate
 Haskell, and exported in ten different formats, including LaTeX, ConTeXt,
 DocBook, RTF, OpenOffice ODT, and MediaWiki markup.
 .
 Other features include
   * plugins: dynamically loaded page transformations written in Haskell;
   * categories;
   * support for Unicode;
   * TeX math using texmath;
   * syntax highlighting of source code files and code snippets using
     highlighting-kate;
   * wiki pages can be viewed as slide shows;
   * caching;
   * Atom feeds (site-wide and per-page);
   * a library, Network.Gitit, that makes it simple to include a gitit wiki in
     any happstack application;
   * pages can be written directly in literate Haskell.

Package: libghc-gitit-dev
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
 gitit
Suggests: ${haskell:Suggests}
Recommends: ${haskell:Recommends}
Provides: ${haskell:Provides}
Description: Wiki engine backed by a git or darcs filestore - GHC libraries
 Gitit is a wiki backed by a git or darcs filestore. Pages and uploaded files
 can be modified either directly via the VCS’s command-line tools or through
 the wiki’s web interface. Pandoc is used for markup processing, so pages may
 be written in (extended) markdown, reStructuredText, LaTeX, HTML, or literate
 Haskell, and exported in ten different formats, including LaTeX, ConTeXt,
 DocBook, RTF, OpenOffice ODT, and MediaWiki markup.
 .
 Other features include
   * plugins: dynamically loaded page transformations written in Haskell;
   * categories;
   * support for Unicode;
   * TeX math using texmath;
   * syntax highlighting of source code files and code snippets using
     highlighting-kate;
   * wiki pages can be viewed as slide shows;
   * caching;
   * Atom feeds (site-wide and per-page);
   * a library, Network.Gitit, that makes it simple to include a gitit wiki in
     any happstack application;
   * pages can be written directly in literate Haskell.
 .
 This package contains the libraries compiled for GHC.

Package: libghc-gitit-doc
Section: doc
Architecture: all
Depends:
 ${haskell:Depends},
 ${misc:Depends}
Suggests: ${haskell:Suggests}
Recommends: ${haskell:Recommends}
Description: Wiki engine backed by a git or darcs filestore - documentation
 Gitit is a wiki backed by a git or darcs filestore. Pages and uploaded files
 can be modified either directly via the VCS’s command-line tools or through
 the wiki’s web interface. Pandoc is used for markup processing, so pages may
 be written in (extended) markdown, reStructuredText, LaTeX, HTML, or literate
 Haskell, and exported in ten different formats, including LaTeX, ConTeXt,
 DocBook, RTF, OpenOffice ODT, and MediaWiki markup.
 .
 Other features include
   * plugins: dynamically loaded page transformations written in Haskell;
   * categories;
   * support for Unicode;
   * TeX math using texmath;
   * syntax highlighting of source code files and code snippets using
     highlighting-kate;
   * wiki pages can be viewed as slide shows;
   * caching;
   * Atom feeds (site-wide and per-page);
   * a library, Network.Gitit, that makes it simple to include a gitit wiki in
     any happstack application;
   * pages can be written directly in literate Haskell.
 .
 This package contains the library documentation.
