Source: haskell-strict
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Joachim Breitner <nomeata@debian.org>
Priority: extra
Section: haskell
Build-Depends: debhelper (>= 9),
 haskell-devscripts (>= 0.10),
 cdbs,
 ghc,
 ghc-prof,
Build-Depends-Indep: ghc-doc,
Standards-Version: 3.9.6
Homepage: http://www.cse.unsw.edu.au/~rl/code/strict.html
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-haskell/DHG_packages.git/
Vcs-Git: git://git.debian.org/git/pkg-haskell/DHG_packages.git

Package: libghc-strict-dev
Architecture: any
Depends: ${haskell:Depends},
 ${shlibs:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Provides: ${haskell:Provides},
Description: Strict variants of standard Haskell datatypes${haskell:ShortBlurb}
 This package provides strict versions of some standard Haskell data types
 (pairs, Maybe and Either). It also contains strict IO operations.
 .
 ${haskell:Blurb}

Package: libghc-strict-prof
Architecture: any
Depends: ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Provides: ${haskell:Provides},
Description: Strict variants of standard Haskell datatypes${haskell:ShortBlurb}
 This package provides strict versions of some standard Haskell data types
 (pairs, Maybe and Either). It also contains strict IO operations.
 .
 ${haskell:Blurb}

Package: libghc-strict-doc
Architecture: all
Section: doc
Depends: ${misc:Depends},
 ${haskell:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Description: Strict variants of standard Haskell datatypes${haskell:ShortBlurb}
 This package provides strict versions of some standard Haskell data types
 (pairs, Maybe and Either). It also contains strict IO operations.
 .
 ${haskell:Blurb}
