#!/usr/bin/make -f

# pending an upload of https://bitbucket.org/ssaasen/haskell-jwt/issues/22/could-not-find-module
# DEB_ENABLE_TESTS = yes

DEB_CABAL_PACKAGE = jwt
DEB_DEFAULT_COMPILER = ghc

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/hlibrary.mk
