[Desktop Entry]
Version=1.0
Type=Application
Name=taffybar
GenericName=Desktop Panel
NoDisplay=true
Exec=/usr/bin/taffybar
TryExec=/usr/bin/taffybar
Terminal=false
Keywords=Status Bar;Notification Daemon;Systray
