Source: haskell-hsql-mysql
Section: haskell
Priority: extra
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Víctor Pérez Pereira <vperez@debianvenezuela.org>
Build-Depends:
 cdbs,
 cpphs,
 debhelper (>= 7),
 haskell-devscripts (>= 0.6.15+nmu13),
 ghc6 (>= 6.10.4),
 ghc6-prof,
 libghc6-hsql-dev (>= 1.7.1),
 libghc6-hsql-prof (>= 1.7.1),
 libmysqlclient15-dev,
 ghc6-doc,
 haddock (>= 2.4.2-3),
 hscolour,
 haskell-hsql-doc
Standards-Version: 3.8.2
Homepage: http://hackage.haskell.org/cgi-bin/hackage-scripts/package/hsql-mysql
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-hsql-mysql/

Package: libghc6-hsql-mysql-dev
Architecture: any
Suggests: haskell-hsql-mysql-doc
Depends: ${haskell:Depends}, libmysqlclient15-dev, ${shlibs:Depends}, ${misc:Depends}
Provides: ${haskell:Provides}
Description: MySQL driver of the HSQL library for GHC6
 HSQL provides database interfaces for Haskell programmers. This
 package the MySQL driver of HSQL.

Package: libghc6-hsql-mysql-prof
Architecture: any
Depends: ${haskell:Depends}, ${shlibs:Depends}, ${misc:Depends}
Provides: ${haskell:Provides}
Description: MySQL driver of the HSQL library for GHC6; profiling libraries
 HSQL provides database interfaces for Haskell programmers. This
 package provides profiling libraries for MySQL driver of HSQL.

Package: haskell-hsql-mysql-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: API documentation of the hsql-mysql library for Haskell
 HSQL provides database interfaces for Haskell programmers. This
 package provides documentation for MySQL driver of HSQL.
 .
 This package provides documentation for MySQL driver of HSQL.
