Source: haskell-lazysmallcheck
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Joachim Breitner <nomeata@debian.org>
Priority: extra
Section: haskell
Build-Depends: debhelper (>= 9),
 haskell-devscripts (>= 0.9),
 cdbs,
 ghc,
 ghc-prof,
Build-Depends-Indep: ghc-doc,
Standards-Version: 3.9.4
Homepage: http://www.cs.york.ac.uk/~mfn/lazysmallcheck/
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-lazysmallcheck
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-lazysmallcheck

Package: libghc-lazysmallcheck-dev
Architecture: any
Depends: ${haskell:Depends},
 ${shlibs:Depends},
 ${misc:Depends},
Suggests: ${haskell:Suggests},
Provides: ${haskell:Provides},
Description: A library for demand-driven testing of Haskell programs
 This package provides a library for the Haskell programming language.
 .
 Lazy SmallCheck is a library for exhaustive, demand-driven testing of
 Haskell programs.  It is based on the idea that if a property holds
 for a partially-defined input then it must also hold for all
 fully-defined refinements of the that input.  Compared to ``eager''
 input generation as in SmallCheck, Lazy SmallCheck may require
 significantly fewer test-cases to verify a property for all inputs up
 to a given depth.

Package: libghc-lazysmallcheck-prof
Architecture: any
Depends: ${haskell:Depends},
 ${misc:Depends},
Provides: ${haskell:Provides},
Description: A library for demand-driven testing of Haskell programs; profiling libraries
 This package provides a library for the Haskell programming language,
 compiled for profiling.
 .
 Lazy SmallCheck is a library for exhaustive, demand-driven testing of
 Haskell programs.  It is based on the idea that if a property holds
 for a partially-defined input then it must also hold for all
 fully-defined refinements of the that input.  Compared to ``eager''
 input generation as in SmallCheck, Lazy SmallCheck may require
 significantly fewer test-cases to verify a property for all inputs up
 to a given depth.
