Source: haskell-stack
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders:
 Ilias Tsitsimpis <iliastsi@debian.org>,
Priority: optional
Section: haskell
Rules-Requires-Root: no
Build-Depends:
 cdbs,
 debhelper (>= 10),
 haskell-devscripts,
 ghc (>= 9.4),
 libghc-aeson-dev (>= 2.0.3.0),
 libghc-annotated-wl-pprint-dev,
 libghc-ansi-terminal-dev,
 libghc-async-dev,
 libghc-attoparsec-dev,
 libghc-base64-bytestring-dev,
 libghc-casa-client-dev,
 libghc-casa-types-dev,
 libghc-colour-dev,
 libghc-conduit-dev,
 libghc-conduit-extra-dev,
 libghc-cryptonite-dev,
 libghc-cryptonite-conduit-dev,
 libghc-echo-dev,
 libghc-extra-dev,
 libghc-file-embed-dev,
 libghc-filelock-dev,
 libghc-fsnotify-dev (>= 0.4.1),
 libghc-generic-deriving-dev,
 libghc-hackage-security-dev,
 libghc-hashable-dev,
 libghc-hi-file-parser-dev,
 libghc-hpack-dev,
 libghc-http-client-dev,
 libghc-http-client-tls-dev,
 libghc-http-conduit-dev,
 libghc-http-download-dev,
 libghc-http-types-dev,
 libghc-memory-dev,
 libghc-microlens-dev,
 libghc-mono-traversable-dev,
 libghc-mustache-dev,
 libghc-neat-interpolation-dev,
 libghc-network-uri-dev,
 libghc-open-browser-dev,
 libghc-optparse-applicative-dev (>= 0.17.0.0),
 libghc-pantry-dev (>= 0.8.1),
 libghc-path-dev,
 libghc-path-io-dev,
 libghc-persistent-dev (>= 2.13.3.5),
 libghc-persistent-dev (<< 2.15),
 libghc-persistent-sqlite-dev,
 libghc-persistent-template-dev,
 libghc-primitive-dev,
 libghc-project-template-dev,
 libghc-random-dev,
 libghc-retry-dev,
 libghc-rio-dev (>= 0.1.22.0),
 libghc-rio-prettyprint-dev (>= 0.1.4.0),
 libghc-semigroups-dev,
 libghc-split-dev,
 libghc-streaming-commons-dev,
 libghc-tar-dev,
 libghc-temporary-dev,
 libghc-text-metrics-dev,
 libghc-th-reify-many-dev,
 libghc-tls-dev,
 libghc-typed-process-dev,
 libghc-unicode-transforms-dev,
 libghc-unix-compat-dev,
 libghc-unliftio-dev,
 libghc-unordered-containers-dev,
 libghc-vector-dev,
 libghc-yaml-dev,
 libghc-zip-archive-dev,
 libghc-zlib-dev,
 libghc-quickcheck2-dev,
 libghc-hspec-dev,
 libghc-raw-strings-qq-dev,
 libghc-smallcheck-dev,
Standards-Version: 4.6.2
Homepage: https://haskellstack.org
Vcs-Browser: https://salsa.debian.org/haskell-team/DHG_packages/tree/master/p/haskell-stack
Vcs-Git: https://salsa.debian.org/haskell-team/DHG_packages.git [p/haskell-stack]
X-Description: The Haskell Tool Stack
 Stack is a program for developing Haskell projects. It is aimed at Haskellers
 both new and experienced.
 .
 It features:
 .
  * Installing GHC automatically.
 .
  * Installing packages needed for your project.
 .
  * Building your project.
 .
  * Testing your project.
 .
  * Benchmarking your project.

Package: haskell-stack
Architecture: any
Depends:
 gcc,
 libgmp-dev,
 make,
 xz-utils,
 ca-certificates,
 ${haskell:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Conflicts:
 ${haskell:Conflicts},
Provides:
 ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}
