Source: haskell-gnomevfs
Section: oldlibs
Priority: extra
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Marco Túlio Gontijo e Silva <marcot@debian.org>
Build-Depends: debhelper (>= 7)
  , cdbs
  , haskell-devscripts (>= 0.7)
  , ghc
#  , ghc-prof
  , libghc-mtl-dev
#  , libghc-mtl-prof
  , libghc-glib-dev (>= 0.11)
  , libghc-glib-dev (<< 0.12)
#  , libghc-glib-prof
  , libghc-gtk-dev (>= 0.11)
  , libghc-gtk-dev (<< 0.12)
#  , libghc-gtk-prof
  , libgnomevfs2-dev
  , gtk2hs-buildtools
Build-Depends-Indep: ghc-doc
  , libghc-mtl-doc
  , libghc-glib-doc
  , libghc-cairo-doc
  , libghc-pango-doc
  , libghc-gtk-doc
Standards-Version: 3.8.4
Homepage: http://hackage.haskell.org/package/gnomevfs
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-gnomevfs
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-gnomevfs

Package: libghc-gnomevfs-dev
Architecture: any
Depends: ${haskell:Depends}
  , ${shlibs:Depends}
  , ${misc:Depends}
  , libgnomevfs2-dev
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: Binding to the GNOME Virtual File System library
 This package provides a library for the Haskell programming language.
 See http://www.haskell.org/ for more information on Haskell.
 .
 GNOME VFS is the GNOME virtual file system. It is the foundation of the
 Nautilus file manager. It provides a modular architecture and ships with
 several modules that implement support for local files, http, ftp and
 others. It provides an URI-based API, a backend supporting asynchronous file
 operations, a MIME type manipulation library and other features.

# Package: libghc-gnomevfs-prof
# Architecture: any
# Depends: ${haskell:Depends}
#   , ${misc:Depends}
# Recommends: ${haskell:Recommends}
# Suggests: ${haskell:Suggests}
# Provides: ${haskell:Provides}
# Description: Binding to the GNOME Virtual File System library; profiling libraries
#  This package provides a library for the Haskell programming language,
#  compiled for profiling.
#  See http://www.haskell.org/ for more information on Haskell.
#  .
#  GNOME VFS is the GNOME virtual file system. It is the foundation of the
#  Nautilus file manager. It provides a modular architecture and ships with
#  several modules that implement support for local files, http, ftp and
#  others. It provides an URI-based API, a backend supporting asynchronous file
#  operations, a MIME type manipulation library and other features.

Package: libghc-gnomevfs-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, ${haskell:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: Binding to the GNOME Virtual File System library; documentation
 This package provides the documentation for a library for the Haskell
 programming language.
 See http://www.haskell.org/ for more information on Haskell.
 .
 GNOME VFS is the GNOME virtual file system. It is the foundation of the
 Nautilus file manager. It provides a modular architecture and ships with
 several modules that implement support for local files, http, ftp and
 others. It provides an URI-based API, a backend supporting asynchronous file
 operations, a MIME type manipulation library and other features.
