Source: happy
Section: devel
Priority: optional
Maintainer: Ian Lynagh (wibble) <igloo@debian.org>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 4), docbook-utils, ghc6 (>= 6.8.2), docbook-xsl, docbook-xml, xsltproc, happy, libghc6-mtl-dev
Homepage: http://www.haskell.org/happy

Package: happy
Architecture: any
Depends: ${shlibs:Depends}
Suggests: haskell-doc, info-browser
Replaces: ghc-cvs (<< 20031221)
Description: Parser generator for Haskell
 This is the nth public release of our parser generator system for Haskell,
 called Happy (a dyslexic acronym for 'A Yacc-like Haskell Parser
 generator').
