Source: haskell-binary-tagged
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders:
 Ilias Tsitsimpis <iliastsi@debian.org>,
Priority: optional
Section: haskell
Rules-Requires-Root: no
Build-Depends:
 cdbs,
 debhelper (>= 10),
 ghc (>= 8.4.3),
 ghc-prof,
 haskell-devscripts (>= 0.13),
 libghc-aeson-dev (>= 0.8),
 libghc-aeson-dev (<< 1.5),
 libghc-aeson-prof,
 libghc-base16-bytestring-dev (>= 0.1.1.6),
 libghc-base16-bytestring-dev (<< 0.2),
 libghc-base16-bytestring-prof,
 libghc-cryptohash-sha1-dev (>= 0.11.100.1),
 libghc-cryptohash-sha1-dev (<< 0.12),
 libghc-cryptohash-sha1-prof,
 libghc-generics-sop-dev (>= 0.3.2.0),
 libghc-generics-sop-dev (<< 0.6),
 libghc-generics-sop-prof,
 libghc-hashable-dev (>= 1.2),
 libghc-hashable-dev (<< 1.4),
 libghc-hashable-prof,
 libghc-scientific-dev (>= 0.3),
 libghc-scientific-dev (<< 0.4),
 libghc-scientific-prof,
 libghc-tagged-dev (>= 0.7),
 libghc-tagged-dev (<< 0.9),
 libghc-tagged-prof,
 libghc-unordered-containers-dev (<< 0.3),
 libghc-unordered-containers-dev (>= 0.2),
 libghc-unordered-containers-prof,
 libghc-vector-dev (>= 0.10),
 libghc-vector-dev (<< 0.13),
 libghc-vector-prof,
Build-Depends-Indep: ghc-doc,
 libghc-aeson-doc,
 libghc-base16-bytestring-doc,
 libghc-cryptohash-sha1-doc,
 libghc-generics-sop-doc,
 libghc-hashable-doc,
 libghc-scientific-doc,
 libghc-tagged-doc,
 libghc-unordered-containers-doc,
 libghc-vector-doc,
Standards-Version: 4.6.1
Homepage: https://github.com/phadej/binary-tagged#readme
Vcs-Browser: https://salsa.debian.org/haskell-team/DHG_packages/tree/master/p/haskell-binary-tagged
Vcs-Git: https://salsa.debian.org/haskell-team/DHG_packages.git [p/haskell-binary-tagged]
X-Description: tagged binary serialisation
 Structurally tag binary serialisation stream. Library allows serialise and
 deserialise record values with a structure tag, so if structure of record changes
 between serialization and deserialisation, deserialisation will fail early.

Package: libghc-binary-tagged-dev
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Conflicts:
 ${haskell:Conflicts},
Provides:
 ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-binary-tagged-prof
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Conflicts:
 ${haskell:Conflicts},
Provides:
 ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-binary-tagged-doc
Architecture: all
Section: doc
Depends:
 ${haskell:Depends},
 ${misc:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Conflicts:
 ${haskell:Conflicts},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}
