#!/usr/bin/make -f

# Disable testsuite, which depends on missing binary-instances
DEB_ENABLE_TESTS = no
DEB_CABAL_PACKAGE = binary-tagged
DEB_DEFAULT_COMPILER = ghc

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/hlibrary.mk
