Source: ldap-haskell
Priority: optional
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: John Goerzen <jgoerzen@complete.org>
Build-Depends: debhelper (>= 7), ghc6, haskell-devscripts (>= 0.7.3), libldap2-dev (>= 2.4.7), cdbs
Build-Depends-Indep: ghc6-doc
Standards-Version: 3.8.4
Section: haskell
Vcs-Git: git://git.debian.org/git/pkg-haskell/ldap-haskell.git
Vcs-Browser: http://git.debian.org/?p=pkg-haskell/ldap-haskell.git;a=summary
Homepage: http://software.complete.org/ldap-haskell


Package: libghc6-ldap-dev
Section: haskell
Architecture: any
Suggests: ${haskell:Suggests}
Depends: ${haskell:Depends}, libldap2-dev, ${shlibs:Depends}
Recommends: ${haskell:Recommends}
Description: LDAP Interface for Haskell
 This package provides an interface to the C LDAP API for Haskell programmers.
 With it, you can search, modify, and interrogate LDAP directories.
 The Haskell binding features automatic memory management and proper
 handling for binary data, and handles all marhsalling into and out of
 C data structures for you automatically.
 .
 This package is built for GHC.

Package: libghc6-ldap-doc
Replaces: ldap-haskell-doc
Conflicts: ldap-haskell-doc
Provides: ldap-haskell-doc
Section: doc
Architecture: all
Depends: ${haskell:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: LDAP Interface for Haskell
 This package provides an interface to the C LDAP API for Haskell programmers.
 With it, you can search, modify, and interrogate LDAP directories.
 The Haskell binding features automatic memory management and proper
 handling for binary data, and handles all marhsalling into and out of
 C data structures for you automatically.
 .
 This package provides documentation for the Haskell LDAP bindings.
