Source: haskell-hlist
Section: haskell
Priority: extra
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Standards-Version: 3.8.4
Build-Depends:
 cdbs,
 debhelper (>= 7),
 ghc6 (>= 6.10.4),
 ghc6-prof,
 haskell-devscripts (>= 0.6.15+nmu13),
 hugs
Homepage: http://homepages.cwi.nl/~ralf/HList/
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-hlist
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-hlist

Package: libghc6-hlist-dev
Architecture: any
Depends: ${haskell:Depends}, ${shlibs:Depends}, ${misc:Depends}
Provides: ${haskell:Provides}
Description: Haskell library for strongly typed heterogeneous collections
 A heterogeneous collection is a datatype that is capable of storing
 data of different types, while providing operations for look-up,
 update, iteration, and others. There are various kinds of
 heterogeneous collections, differing in representation, invariants,
 and access operations.
 .
 HList is a Haskell library providing strongly typed heterogeneous
 collections including extensible records.

Package: libghc6-hlist-prof
Architecture: any
Depends: ${haskell:Depends}, ${shlibs:Depends}, ${misc:Depends}
Provides: ${haskell:Provides}
Description: Haskell library for strongly typed heterogeneous collections
 A heterogeneous collection is a datatype that is capable of storing
 data of different types, while providing operations for look-up,
 update, iteration, and others. There are various kinds of
 heterogeneous collections, differing in representation, invariants,
 and access operations.
 .
 HList is a Haskell library providing strongly typed heterogeneous
 collections including extensible records.

Package: libhugs-hlist
Architecture: any
Depends: ${haskell:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: Haskell library for strongly typed heterogeneous collections
 A heterogeneous collection is a datatype that is capable of storing
 data of different types, while providing operations for look-up,
 update, iteration, and others. There are various kinds of
 heterogeneous collections, differing in representation, invariants,
 and access operations.
 .
 HList is a Haskell library providing strongly typed heterogeneous
 collections including extensible records.
