Source: haskell-warp
Section: haskell
Priority: extra
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Clint Adams <clint@debian.org>
Build-Depends: debhelper (>= 9)
  , cdbs
  , haskell-devscripts (>= 0.9)
  , ghc
  , ghc-prof
  , libghc-auto-update-dev
  , libghc-auto-update-prof
  , libghc-blaze-builder-dev (>= 0.3.3)
  , libghc-blaze-builder-dev (<< 0.5)
  , libghc-blaze-builder-prof
  , libghc-case-insensitive-dev (>= 0.2)
  , libghc-case-insensitive-prof
  , libghc-hashable-dev
  , libghc-hashable-prof
  , libghc-http-date-dev
  , libghc-http-date-prof
  , libghc-http-types-dev (>= 0.8.5)
  , libghc-http-types-prof
  , libghc-iproute-dev (>= 1.3.1)
  , libghc-iproute-prof
  , libghc-lifted-base-dev (>= 0.1)
  , libghc-lifted-base-prof
  , libghc-network-dev (>= 2.3)
  , libghc-network-prof
  , libghc-simple-sendfile-dev (>= 0.2.7)
  , libghc-simple-sendfile-dev (<< 0.3)
  , libghc-simple-sendfile-prof
  , libghc-streaming-commons-dev (>= 0.1.10)
  , libghc-streaming-commons-prof
  , libghc-vault-dev
  , libghc-vault-prof
  , libghc-text-dev
  , libghc-text-prof
  , libghc-unix-compat-dev (>= 0.2)
  , libghc-unix-compat-prof
  , libghc-wai-dev (>= 3.0)
  , libghc-wai-dev (<< 3.1)
  , libghc-wai-prof
  , libghc-doctest-dev (>= 0.9.3) [!kfreebsd-any]
  , libghc-hunit-dev [!kfreebsd-any]
  , libghc-quickcheck2-dev [!kfreebsd-any]
  , libghc-hspec-dev (>= 1.3) [!kfreebsd-any]
  , libghc-async-dev [!kfreebsd-any]
  , netbase
Build-Depends-Indep: ghc-doc
  , libghc-auto-update-doc
  , libghc-blaze-builder-doc
  , libghc-case-insensitive-doc
  , libghc-hashable-doc
  , libghc-http-date-doc
  , libghc-http-types-doc
  , libghc-iproute-doc
  , libghc-lifted-base-doc
  , libghc-network-doc
  , libghc-simple-sendfile-doc
  , libghc-streaming-commons-doc
  , libghc-vault-doc
  , libghc-text-doc
  , libghc-unix-compat-doc
  , libghc-wai-doc
  , libghc-text-doc
Standards-Version: 3.9.5
Homepage: http://hackage.haskell.org/package/warp
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-warp
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-warp

Package: libghc-warp-dev
Architecture: any
Depends: ${haskell:Depends}
  , ${shlibs:Depends}
  , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: fast, light-weight web server for WAI applications${haskell:ShortBlurb}
 It contains the premier WAI handler. For more information, see
 http://steve.vinoski.net/blog/2011/05/01/warp-a-haskell-web-server/ .
 .
 ${haskell:Blurb}

Package: libghc-warp-prof
Architecture: any
Depends: ${haskell:Depends}
  , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: fast, light-weight web server for WAI applications${haskell:ShortBlurb}
 It contains the premier WAI handler. For more information, see
 http://steve.vinoski.net/blog/2011/05/01/warp-a-haskell-web-server/ .
 .
 ${haskell:Blurb}

Package: libghc-warp-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, ${haskell:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: fast, light-weight web server for WAI applications${haskell:ShortBlurb}
 It contains the premier WAI handler. For more information, see
 http://steve.vinoski.net/blog/2011/05/01/warp-a-haskell-web-server/ .
 .
 ${haskell:Blurb}
