#!/usr/bin/make -f

# Testsuite fails to compile with GHC 9.0.2
# (see https://github.com/magthe/hsini/issues/24)
DEB_ENABLE_TESTS = no

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/hlibrary.mk
