Source: haskell-fast-logger
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders:
 Clint Adams <clint@debian.org>,
Priority: optional
Section: haskell
Rules-Requires-Root: no
Build-Depends:
 cdbs,
 debhelper (>= 10),
 ghc (>= 8.4.3),
 ghc-prof,
 haskell-devscripts (>= 0.13),
 libghc-auto-update-dev (>= 0.1.2),
 libghc-auto-update-prof,
 libghc-easy-file-dev (>= 0.2),
 libghc-easy-file-prof,
 libghc-unix-compat-dev (>= 0.2),
 libghc-unix-compat-prof,
 libghc-unix-time-dev (>= 0.4.4),
 libghc-unix-time-prof,
 libghc-async-dev,
 libghc-async-prof,
 libghc-hspec-dev,
 hspec-discover,
Build-Depends-Indep:
 ghc-doc,
 libghc-auto-update-doc,
 libghc-easy-file-doc,
 libghc-unix-compat-doc,
 libghc-unix-time-doc,
Standards-Version: 4.6.2
Homepage: https://github.com/kazu-yamamoto/logger
Vcs-Browser: https://salsa.debian.org/haskell-team/DHG_packages/tree/master/p/haskell-fast-logger
Vcs-Git: https://salsa.debian.org/haskell-team/DHG_packages.git [p/haskell-fast-logger]

Package: libghc-fast-logger-dev
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Provides:
 ${haskell:Provides},
Description: a fast logging system${haskell:ShortBlurb}
 Fast logging system to copy log data directly to Handle buffer.
 It also supports rotation.
 .
 ${haskell:Blurb}

Package: libghc-fast-logger-prof
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Provides:
 ${haskell:Provides},
Description: a fast logging system${haskell:ShortBlurb}
 Fast logging system to copy log data directly to Handle buffer.
 It also supports rotation.
 .
 ${haskell:Blurb}

Package: libghc-fast-logger-doc
Architecture: all
Section: doc
Depends:
 ${haskell:Depends},
 ${misc:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Description: a fast logging system${haskell:ShortBlurb}
 Fast logging system to copy log data directly to Handle buffer.
 It also supports rotation.
 .
 ${haskell:Blurb}
