Source: haskell-kan-extensions
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Clint Adams <clint@debian.org>
Priority: optional
Section: haskell
Rules-Requires-Root: no
Build-Depends: debhelper (>= 10),
 haskell-devscripts (>= 0.13),
 cdbs,
 ghc (>= 8.4.3),
 ghc-prof,
 libghc-adjunctions-dev (>= 4.2),
 libghc-adjunctions-dev (<< 5),
 libghc-adjunctions-prof,
 libghc-comonad-dev (>= 4),
 libghc-comonad-dev (<< 6),
 libghc-comonad-prof,
 libghc-contravariant-dev (>= 1),
 libghc-contravariant-dev (<< 2),
 libghc-contravariant-prof,
 libghc-distributive-dev (>= 0.2.2),
 libghc-distributive-dev (<< 1),
 libghc-distributive-prof,
 libghc-free-dev (>= 4),
 libghc-free-dev (<< 6),
 libghc-free-prof,
 libghc-invariant-dev (>= 0.1),
 libghc-invariant-dev (<< 1),
 libghc-invariant-prof,
 libghc-profunctors-dev (>= 5),
 libghc-profunctors-dev (<< 6),
 libghc-profunctors-prof,
 libghc-semigroupoids-dev (>= 4),
 libghc-semigroupoids-dev (<< 6),
 libghc-semigroupoids-prof,
 libghc-tagged-dev (>= 0.7.2),
 libghc-tagged-dev (<< 1),
 libghc-tagged-prof,
 libghc-transformers-compat-dev (>= 0.3),
 libghc-transformers-compat-dev (<< 0.7),
 libghc-transformers-compat-prof,
Build-Depends-Indep: ghc-doc,
 libghc-adjunctions-doc,
 libghc-comonad-doc,
 libghc-contravariant-doc,
 libghc-distributive-doc,
 libghc-free-doc,
 libghc-invariant-doc,
 libghc-profunctors-doc,
 libghc-semigroupoids-doc,
 libghc-tagged-doc,
 libghc-transformers-compat-doc,
Standards-Version: 4.6.1
Homepage: https://github.com/ekmett/kan-extensions/
Vcs-Browser: https://salsa.debian.org/haskell-team/DHG_packages/tree/master/p/haskell-kan-extensions
Vcs-Git: https://salsa.debian.org/haskell-team/DHG_packages.git [p/haskell-kan-extensions]
X-Description: Kan extensions, Kan lifts, etc.
 Kan extensions, Kan lifts, various forms of the Yoneda lemma, and
 (co)density (co)monads.

Package: libghc-kan-extensions-dev
Architecture: any
Depends: ${shlibs:Depends},
 ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Conflicts: ${haskell:Conflicts},
Provides: ${haskell:Provides},
Replaces: ${haskell:Replaces},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-kan-extensions-prof
Architecture: any
Depends: ${shlibs:Depends},
 ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Conflicts: ${haskell:Conflicts},
Provides: ${haskell:Provides},
Replaces: ${haskell:Replaces},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-kan-extensions-doc
Architecture: all
Section: doc
Depends: ${shlibs:Depends},
 ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Conflicts: ${haskell:Conflicts},
Provides: ${haskell:Provides},
Replaces: ${haskell:Replaces},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}
