Package: libghc-bitarray-doc
Source: haskell-bitarray
Version: 0.0.1-1
Architecture: all
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 272
Depends: haddock-interface-16
Recommends: ghc-doc
Suggests: libghc-bitarray-dev
Section: doc
Priority: extra
Homepage: http://hackage.haskell.org/package/bitarray
Description: Mutable and immutable bit arrays; documentation
 This package provides mutable and immutable bit arrays
 implemented as packed arrays of 64 bit words. It provides a
 pure interface as well as monadic interfaces for the IO and
 ST monad.
 .
 This package provides the documentation for a library for the Haskell
 programming language.
 See http://www.haskell.org/ for more information on Haskell.
