Source: haskell-recaptcha
Priority: extra
Section: haskell
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Giovanni Mascellani <mascellani@poisson.phc.unipi.it>
Build-Depends:
 debhelper (>= 7),
 haskell-devscripts (>= 0.7),
 cdbs,
 ghc6,
 ghc6-prof,
 ghc6-doc,
 libghc6-http-dev,
 libghc6-http-prof,
 haskell-http-doc,
 libghc6-xhtml-dev,
 libghc6-xhtml-prof,
 libghc6-xhtml-doc,
 libghc6-network-dev,
 libghc6-network-prof,
 libghc6-network-doc
Standards-Version: 3.8.4
Homepage: http://hackage.haskell.org/package/recaptcha
Vcs-Darcs: http://darcs.debian.org/darcs/pkg-haskell/haskell-recaptcha
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-recaptcha

Package: libghc6-recaptcha-dev
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends},
 ${shlibs:Depends}
Suggests: ${haskell:Suggests}
Recommends: ${haskell:Recommends}
Provides: ${haskell:Provides}
Description: Haskell interface to reCAPTCHA service - GHC 6 libraries
 reCAPTCHA (http://recaptcha.net/) is a service that provides captchas
 for preventing automated spam in web applications, using the data people
 submit to digitize old books and newspapers. haskell-recaptcha provides
 functions for using reCAPTCHA in Haskell web applications.
 .
 This package contains the libraries compiled for GHC 6.

Package: libghc6-recaptcha-prof
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends}
Suggests: ${haskell:Suggests}
Recommends: ${haskell:Recommends}
Provides: ${haskell:Provides}
Description: Haskell interface to reCAPTCHA service - GHC 6 profiling libraries
 reCAPTCHA (http://recaptcha.net/) is a service that provides captchas
 for preventing automated spam in web applications, using the data people
 submit to digitize old books and newspapers. haskell-recaptcha provides
 functions for using reCAPTCHA in Haskell web applications.
 .
 This package contains the profiling libraries compiled for GHC 6.

Package: libghc6-recaptcha-doc
Section: doc
Architecture: all
Depends:
 ${haskell:Depends},
 ${misc:Depends}
Suggests: ${haskell:Suggests}
Recommends: ${haskell:Recommends}
Description: Haskell interface to reCAPTCHA service - documentation
 reCAPTCHA (http://recaptcha.net/) is a service that provides captchas
 for preventing automated spam in web applications, using the data people
 submit to digitize old books and newspapers. haskell-recaptcha provides
 functions for using reCAPTCHA in Haskell web applications.
 .
 This package contains the library documentation.
