Source: haskell-hledger-ui
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders:
 Clint Adams <clint@debian.org>,
Priority: optional
Section: haskell
Rules-Requires-Root: no
Build-Depends:
 cdbs,
 debhelper (>= 10),
 ghc (>= 8.4.3),
 haskell-devscripts (>= 0.13),
 ghc-prof,
 libghc-ansi-terminal-dev (>= 0.9),
 libghc-ansi-terminal-prof,
 libghc-async-dev,
 libghc-async-prof,
 libghc-brick-dev (>= 1.5),
 libghc-brick-prof,
 libghc-cmdargs-dev (>= 0.8),
 libghc-data-default-dev,
 libghc-data-default-prof,
 libghc-doclayout-dev (>= 0.3),
 libghc-doclayout-dev (<< 0.5),
 libghc-doclayout-prof,
 libghc-extra-dev (>= 1.6.3),
 libghc-extra-prof,
 libghc-fsnotify-dev (>= 0.4),
 libghc-fsnotify-dev (<< 0.5),
 libghc-fsnotify-prof,
 libghc-hledger-dev (>= 1.30),
 libghc-hledger-dev (<< 1.31),
 libghc-hledger-prof,
 libghc-hledger-lib-dev (>= 1.30),
 libghc-hledger-lib-dev (<< 1.31),
 libghc-hledger-lib-prof,
 libghc-megaparsec-dev (>= 7.0.0),
 libghc-megaparsec-dev (<< 9.4),
 libghc-megaparsec-prof,
 libghc-microlens-dev (>= 0.4),
 libghc-microlens-platform-dev (>= 0.2.3.1),
 libghc-microlens-platform-prof,
 libghc-safe-dev (>= 0.3.19),
 libghc-safe-prof,
 libghc-split-dev (>= 0.1),
 libghc-text-zipper-dev (>= 0.4),
 libghc-vector-dev,
 libghc-vector-prof,
 libghc-vty-dev (>= 5.15),
 libghc-vty-prof,
Standards-Version: 4.6.2
Homepage: https://hledger.org
Vcs-Browser: https://salsa.debian.org/haskell-team/DHG_packages/tree/master/p/haskell-hledger-ui
Vcs-Git: https://salsa.debian.org/haskell-team/DHG_packages.git [p/haskell-hledger-ui]
X-Description: curses-style user interface for the hledger accounting tool
 This is hledger's curses-style interface.
 It is simpler and more convenient for browsing data than the
 command-line interface, but lighter and faster than hledger-web.

Package: hledger-ui
Architecture: any
Section: utils
Depends:
 ${haskell:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Conflicts:
 ${haskell:Conflicts},
Provides:
 ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}
