Source: haskell-happstack-util
Priority: extra
Section: haskell
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Giovanni Mascellani <gio@debian.org>
Build-Depends:
 debhelper (>= 7),
 haskell-devscripts (>= 0.7),
 cdbs,
 ghc,
 ghc-prof,
 libghc-mtl-dev (>= 1.1),
 libghc-mtl-prof (>= 1.1),
 libghc-network-dev (>= 2.2),
 libghc-network-prof (>= 2.2),
 libghc-parsec3-dev,
 libghc-parsec3-prof,
 libghc-unix-compat-dev,
 libghc-unix-compat-prof,
 libghc-hslogger-dev (>= 1.0.2),
 libghc-hslogger-prof (>= 1.0.2),
 libghc-template-haskell-dev,
 libghc-template-haskell-prof
Build-Depends-Indep:
 ghc-doc,
 libghc-mtl-doc (>= 1.1),
 libghc-network-doc (>= 2.2),
 libghc-parsec3-doc,
 libghc-unix-compat-doc,
 libghc-hslogger-doc (>= 1.0.2),
 libghc-template-haskell-doc
Standards-Version: 3.9.1
Homepage: http://hackage.haskell.org/package/happstack-util
Vcs-Darcs: http://darcs.debian.org/darcs/pkg-haskell/haskell-happstack-util
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-happstack-util

Package: libghc-happstack-util-dev
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends},
 ${shlibs:Depends}
Suggests: ${haskell:Suggests}
Recommends: ${haskell:Recommends}
Provides: ${haskell:Provides}
Description: Happstack web framework, utilities package - GHC libraries
 Happstack is a Haskell web framework, designed so that developers can
 prototype quickly, deploy painlessly, scale massively, operate reliably,
 and change easily. It supports GNU/Linux, OS X, FreeBSD, and Windows
 environments.
 .
 Happstack provides you with all the components you need to build and
 deploy your application, which is completely self-contained.
 Particularly, Happstack provides the application with a distributed and
 persistent data storage layer, capable to interact with the application
 itself directly in terms of Haskell data structures.
 .
 Happstack-util is a collection of miscellaneous libraries used by happstack.
 .
 This package contains the libraries compiled for GHC.

Package: libghc-happstack-util-prof
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends}
Suggests: ${haskell:Suggests}
Recommends: ${haskell:Recommends}
Provides: ${haskell:Provides}
Description: Happstack web framework, utilities package - GHC profiling libraries
 Happstack is a Haskell web framework, designed so that developers can
 prototype quickly, deploy painlessly, scale massively, operate reliably,
 and change easily. It supports GNU/Linux, OS X, FreeBSD, and Windows
 environments.
 .
 Happstack provides you with all the components you need to build and
 deploy your application, which is completely self-contained.
 Particularly, Happstack provides the application with a distributed and
 persistent data storage layer, capable to interact with the application
 itself directly in terms of Haskell data structures.
 .
 Happstack-util is a collection of miscellaneous libraries used by happstack.
 .
 This package contains the profiling libraries compiled for GHC.

Package: libghc-happstack-util-doc
Section: doc
Architecture: all
Depends:
 ${haskell:Depends},
 ${misc:Depends}
Suggests: ${haskell:Suggests}
Recommends: ${haskell:Recommends}
Description: Happstack web framework, utilities package - documentation
 Happstack is a Haskell web framework, designed so that developers can
 prototype quickly, deploy painlessly, scale massively, operate reliably,
 and change easily. It supports GNU/Linux, OS X, FreeBSD, and Windows
 environments.
 .
 Happstack provides you with all the components you need to build and
 deploy your application, which is completely self-contained.
 Particularly, Happstack provides the application with a distributed and
 persistent data storage layer, capable to interact with the application
 itself directly in terms of Haskell data structures.
 .
 Happstack-util is a collection of miscellaneous libraries used by happstack.
 .
 This package contains the library documentation.
