Source: haskell-iproute
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Joey Hess <joeyh@debian.org>
Priority: extra
Section: haskell
Build-Depends: debhelper (>= 9),
 haskell-devscripts (>= 0.9),
 cdbs,
 ghc,
 ghc-prof,
 ghc-doc,
 libghc-appar-dev,
 libghc-appar-prof,
 libghc-appar-doc,
 libghc-byteorder-dev,
 libghc-byteorder-prof,
 libghc-byteorder-doc,
 libghc-containers-dev,
 libghc-containers-prof,
 libghc-containers-doc,
 libghc-network-dev,
 libghc-network-prof,
 libghc-network-doc,
Standards-Version: 3.9.4
Homepage: http://hackage.haskell.org/package/iproute
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-iproute
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-iproute
X-Description: Haskell IP routing table
 IP Routing Table is a tree of IP ranges to search one of them on
 the longest match base. It is a kind of TRIE with one way branching
 removed. Both IPv4 and IPv6 are supported.

Package: libghc-iproute-dev
Architecture: any
Depends: ${haskell:Depends},
 ${shlibs:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Provides: ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-iproute-prof
Architecture: any
Depends: ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Provides: ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-iproute-doc
Architecture: all
Section: doc
Depends: ${misc:Depends},
 ${haskell:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}
