Source: haskelldb
Section: haskell
Priority: extra
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Joachim Breitner <nomeata@debian.org>
Build-Depends: debhelper (>= 7)
 , cdbs
 , haskell-devscripts
 , dpkg-dev (>= 0.13.19)
 , ghc6 (>= 6.10)
 , ghc6-prof
 , libghc6-mtl-dev
 , libghc6-mtl-prof
 , ghc6-doc
 , libghc6-mtl-doc
Standards-Version: 3.8.3
Homepage: http://haskelldb.sourceforge.net/
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskelldb/
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskelldb

Package: libghc6-haskelldb-dev
Architecture: any
Depends: ${haskell:Depends}, ${shlibs:Depends}, ${misc:Depends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: Haskell library for expressing database queries
 HaskellDB is library for expressing database queries and operations
 in a type safe and declarative way. This package contains the library
 for use with GHC 6.
 .
 HaskellDB compiles a relational algebra-like syntax into SQL, submits
 the operations to the database for processing, and returns the
 results as ordinary Haskell values.

Package: libghc6-haskelldb-prof
Architecture: any
Depends: ${haskell:Depends}, ${misc:Depends}
Provides: ${haskell:Provides}
Description: Haskell library for expressing database queries; profiling libraries
 HaskellDB is library for expressing database queries and operations
 in a type safe and declarative way. This package contains the library
 for use with GHC 6.
 .
 HaskellDB compiles a relational algebra-like syntax into SQL, submits
 the operations to the database for processing, and returns the
 results as ordinary Haskell values.

Package: haskelldb-doc
Depends: haskell-haskelldb-doc, ${misc:Depends}
Architecture: all
Section: doc
Description: transitional dummy package
 This package is a dummy package and is used to easy the upgrade from
 previous versions of haskelldb-doc to haskell-haskelldb-doc.
 .
 This package can safely be removed.

Package: haskell-haskelldb-doc
Replaces: haskelldb-doc (<< 0.10-1)
Architecture: all
Section: doc
Depends: ${haskell:Depends}, ${misc:Depends}
Suggests: ${haskell:Suggests}
Recommends: ${haskell:Recommends}
Description: API documentation of haskelldb
 The API documentation of HaskellDB, a Haskell library for expressing
 database queries and operations in a type safe and declarative way.
