Source: haskell-pretty-simple
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Clint Adams <clint@debian.org>
Priority: optional
Section: haskell
Build-Depends: debhelper (>= 10),
 haskell-devscripts-minimal | haskell-devscripts (>= 0.8),
 cdbs,
 ghc,
 ghc-prof,
 libghc-prettyprinter-dev (>= 1.7.0),
 libghc-prettyprinter-prof,
 libghc-prettyprinter-ansi-terminal-dev (>= 1.1.2),
 libghc-prettyprinter-ansi-terminal-prof,
 libghc-optparse-applicative-dev,
 libghc-optparse-applicative-prof,
 libghc-cabal-doctest-dev (>= 1.0.2) <!nocheck>,
 libghc-doctest-dev (>= 0.13) <!nocheck>,
 libghc-glob-dev <!nocheck>,
 libghc-quickcheck2-dev <!nocheck>,
Build-Depends-Indep: ghc-doc,
 libghc-prettyprinter-doc,
 libghc-prettyprinter-ansi-terminal-doc,
Standards-Version: 4.6.2
Homepage: https://github.com/cdepillabout/pretty-simple
X-Description: pretty printer for data types with a 'Show' instance
 Features:
  * Easy-to-read
   - Complex data types are simple to understand.
  * Color
   - Prints in color using ANSI escape codes.
   - It is possible to print without color by using the pPrintNoColor
     function
  * Rainbow Parentheses
   - Easy to understand deeply nested data types
  * Configurable Indentation
   - Amount of indentation is configurable with the pPrintOpt function
  * Fast
   - No problem pretty-printing data types thousands of lines long
  * Works with any data type with a Show instance
   - Some common Haskell data types have a Show instance that produces
     non-valid Haskell code. pretty-simple will pretty-print even these
     data types

Package: libghc-pretty-simple-dev
Architecture: any
Depends: ${haskell:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Conflicts: ${haskell:Conflicts},
Provides: ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-pretty-simple-prof
Architecture: any
Depends: ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Conflicts: ${haskell:Conflicts},
Provides: ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-pretty-simple-doc
Architecture: all
Section: doc
Depends: ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Conflicts: ${haskell:Conflicts},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}
