Source: haskell-filemanip
Section: haskell
Priority: extra
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Iain Lane <laney@ubuntu.com>
Build-Depends: debhelper (>= 7),
               cdbs (>= 0.4.59),
               haskell-devscripts (>= 0.6.18),
               ghc6 (>= 6.10.4),
               ghc6-prof,
               libghc6-mtl-dev,
               libghc6-mtl-prof,
               ghc6-doc,
               libghc6-mtl-doc
Standards-Version: 3.8.4
Homepage: http://hackage.haskell.org/package/FileManip
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-filemanip
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-filemanip

Package: libghc6-filemanip-dev
Architecture: any
Depends: ${haskell:Depends},
         ${shlibs:Depends},
         ${misc:Depends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: expressive file and directory manipulation for Haskell
 This package provides a library for the Haskell programming language.
 See http://www.haskell.org/ for more information on Haskell.
 .
 FileManip is a Haskell library for working with files and directories.
 Includes code for pattern matching, finding files, modifying file contents,
 and more.
 .
 This package contains the development files.


Package: libghc6-filemanip-prof
Architecture: any
Depends: ${haskell:Depends},
         ${shlibs:Depends},
         ${misc:Depends}
Provides: ${haskell:Provides}
Description: expressive file and directory manipulation for Haskell; profiling libraries
 This package provides a library for the Haskell programming language,
 compiled for profiling.
 See http://www.haskell.org/ for more information on Haskell.
 .
 FileManip is a Haskell library for working with files and directories.
 Includes code for pattern matching, finding files, modifying file contents,
 and more.
 .
 This package contains the profiling libraries.

Package: libghc6-filemanip-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: expressive file and directory manipulation for Haskell; documentation
 This package provides the documentation for a library for the Haskell
 programming language.
 See http://www.haskell.org/ for more information on Haskell.
 .
 FileManip is a Haskell library for working with files and directories.
 Includes code for pattern matching, finding files, modifying file contents,
 and more.
 .
 This package contains the hyperlinked html documentation.
