Source: haskell-reform-hsp
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders:
 Clint Adams <clint@debian.org>,
Priority: optional
Section: haskell
Rules-Requires-Root: no
Build-Depends:
 cdbs,
 debhelper (>= 10),
 ghc (>= 8.4.3),
 ghc-prof,
 haskell-devscripts (>= 0.13),
 hsx2hs,
 libghc-hsp-dev (<< 0.11),
 libghc-hsp-dev (>= 0.9),
 libghc-hsp-prof,
 libghc-hsx2hs-dev (>= 0.13),
 libghc-hsx2hs-dev (<< 0.15),
 libghc-hsx2hs-prof,
 libghc-reform-dev (>= 0.2.1),
 libghc-reform-dev (<< 0.4),
 libghc-reform-prof,
Build-Depends-Indep:
 ghc-doc,
 libghc-hsp-doc,
 libghc-hsx2hs-doc,
 libghc-reform-doc,
Standards-Version: 4.6.1
Homepage: http://www.happstack.com/
Vcs-Browser: https://salsa.debian.org/haskell-team/DHG_packages/tree/master/p/haskell-reform-hsp
Vcs-Git: https://salsa.debian.org/haskell-team/DHG_packages.git [p/haskell-reform-hsp]
X-Description: support for using HSP with Reform
 Reform is a library for building and validating forms using
 applicative functors. This package adds support for using
 reform with HSP.

Package: libghc-reform-hsp-dev
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Provides:
 ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-reform-hsp-prof
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Provides:
 ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-reform-hsp-doc
Architecture: all
Section: doc
Depends:
 ${haskell:Depends},
 ${misc:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}
