#!/usr/bin/make -f

configure: configure-stamp
configure-stamp:
	runhaskell Setup.lhs configure \
		--prefix /usr \
		--with-ghc-pkg=/usr/bin/ghc-pkg6 
	touch $@

build: build-stamp
build-stamp: configure
	$(MAKE)
	runhaskell Setup.lhs build
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -rf bustle-dbus-monitor dist
	runhaskell Setup.lhs clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	dh_install
	runhaskell Setup.lhs copy --destdir debian/bustle
	rm -rf debian/bustle/usr/share/doc/bustle-*

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs README
	dh_installman
	dh_compress
	dh_shlibdeps
	dh_strip
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep:

binary: binary-arch
.PHONY: build clean binary-indep binary-arch binary install build-indep install-indep
