#!/usr/bin/make -f

DEB_CABAL_PACKAGE = blogliterately
DEB_DEFAULT_COMPILER = ghc

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/hlibrary.mk

build/haskell-blogliterately-utils:: build-ghc-stamp

install/blogliterately::
	pandoc -st man debian/BlogLiterately.md -o debian/BlogLiterately.1
