Source: haskell-deriving-compat
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders:
 Clint Adams <clint@debian.org>,
Priority: optional
Section: haskell
Rules-Requires-Root: no
Build-Depends:
 cdbs,
 debhelper (>= 10),
 ghc (>= 8),
 ghc-prof,
 haskell-devscripts (>= 0.13),
 libghc-th-abstraction-dev (>= 0.3),
 libghc-th-abstraction-dev (<< 0.4),
 libghc-th-abstraction-prof,
 libghc-transformers-compat-dev (>= 0.5),
 libghc-transformers-compat-prof,
 libghc-quickcheck2-dev (>= 2),
 libghc-quickcheck2-dev (<< 3),
 libghc-base-compat-dev (>= 0.8.1),
 libghc-base-compat-dev (<< 1),
 libghc-base-orphans-dev (<< 1),
 libghc-base-orphans-dev (>= 0.5),
 libghc-hspec-dev (>= 1.8),
 libghc-quickcheck2-dev (<< 3),
 libghc-quickcheck2-dev (>= 2),
 libghc-transformers-compat-dev (>= 0.5),
 libghc-transformers-compat-prof,
 libghc-tagged-dev (>= 0.7),
 libghc-tagged-dev (<< 1),
 libghc-tagged-prof,
 libghc-void-dev (>= 0.5.10),
 libghc-void-dev (<< 1),
 libghc-void-prof,
Build-Depends-Indep: ghc-doc,
 libghc-th-abstraction-doc,
 libghc-transformers-compat-doc,
Standards-Version: 4.6.1
Homepage: https://github.com/haskell-compat/deriving-compat
Vcs-Browser: https://salsa.debian.org/haskell-team/DHG_packages/tree/master/p/haskell-deriving-compat
Vcs-Git: https://salsa.debian.org/haskell-team/DHG_packages.git [p/haskell-deriving-compat]
X-Description: backports of GHC deriving extensions
 Provides Template Haskell functions that mimic deriving
 extensions that were introduced or modified in recent versions
 of GHC.

Package: libghc-deriving-compat-dev
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Conflicts:
 ${haskell:Conflicts},
Provides:
 ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-deriving-compat-prof
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Conflicts:
 ${haskell:Conflicts},
Provides:
 ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-deriving-compat-doc
Architecture: all
Section: doc
Depends:
 ${haskell:Depends},
 ${misc:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Conflicts:
 ${haskell:Conflicts},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}
