Source: haskell-sdl-ttf
Section: haskell
Priority: extra
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Miriam Ruiz <little_miry@yahoo.es>
Standards-Version: 3.8.4
Build-Depends:
 debhelper (>= 7),
 haskell-devscripts (>= 0.7),
 cdbs,
 ghc6,
 ghc6-prof,
 libgl1-mesa-dev | libgl-dev,
 libglu1-mesa-dev | libglu-dev,
 libx11-dev,
 alex,
 c2hs,
 cpphs,
 pkg-config,
 libsdl1.2-dev,
 libsdl-ttf2.0-dev,
 libghc6-sdl-dev,
 libghc6-sdl-prof
Build-Depends-Indep: ghc6-doc
Homepage: http://hackage.haskell.org/package/SDL-ttf
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-sdl-ttf
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-sdl-ttf

Package: libghc6-sdl-ttf-dev
Architecture: any
Depends: ${haskell:Depends}, ${shlibs:Depends}, ${misc:Depends},
 libgl1-mesa-dev | libgl-dev, libglu1-mesa-dev | libglu-dev, libx11-dev,
 libsdl1.2-dev, libsdl-ttf2.0-dev, libghc6-sdl-dev
Suggests: libghc6-sdl-ttf-prof, libghc6-sdl-ttf-doc
Description: Haskell SDL TTF binding for GHC
 This package provides the SDL TTF library bindings for the Haskell
 programming language. SDL TTF allows you to use TrueType fonts in SDL
 applications.

Package: libghc6-sdl-ttf-prof
Architecture: any
Depends: ${haskell:Depends}, ${shlibs:Depends}, ${misc:Depends},
 libghc6-sdl-ttf-dev (= ${binary:Version}), libghc6-sdl-prof
Suggests: libghc6-sdl-ttf-doc
Description: Haskell SDL TTF binding for GHC - profiling libraries
 This package provides the SDL TTF library bindings for the Haskell
 programming language, compiled for profiling. SDL TTF allows you
 to use TrueType fonts in SDL applications.

Package: libghc6-sdl-ttf-doc
Section: doc
Architecture: all
Depends: ${haskell:Depends}, ${shlibs:Depends}, ${misc:Depends}
Recommends: ghc6-doc
Suggests: libghc6-sdl-ttf-dev, libghc6-sdl-ttf-prof
Description: Haskell SDL TTF binding for GHC - documentation
 This package provides the documentation for the SDL TTF library bindings
 for the Haskell programming language. SDL TTF allows you to use TrueType
 fonts in SDL applications.
