Source: haskell-memotrie
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Clint Adams <clint@debian.org>
Priority: optional
Section: haskell
Rules-Requires-Root: no
Build-Depends:
 cdbs,
 debhelper (>= 10),
 ghc (>= 8),
 ghc-prof,
 haskell-devscripts (>= 0.13),
 libghc-newtype-generics-dev (>= 0.5.3),
 libghc-newtype-generics-prof,
Build-Depends-Indep: ghc-doc, libghc-newtype-generics-doc
Standards-Version: 4.6.1
Homepage: http://haskell.org/haskellwiki/MemoTrie
Vcs-Browser: https://salsa.debian.org/haskell-team/DHG_packages/tree/master/p/haskell-memotrie
Vcs-Git: https://salsa.debian.org/haskell-team/DHG_packages.git [p/haskell-memotrie]

Package: libghc-memotrie-dev
Architecture: any
Depends: ${haskell:Depends}, ${misc:Depends}, ${shlibs:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: trie-based memo functions${haskell:ShortBlurb}
 MemoTrie provides a basis for memoized functions over some domains,
 using tries.
 .
 ${haskell:Blurb}

Package: libghc-memotrie-prof
Architecture: any
Depends: ${haskell:Depends}, ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: trie-based memo functions${haskell:ShortBlurb}
 MemoTrie provides a basis for memoized functions over some domains,
 using tries.
 .
 ${haskell:Blurb}

Package: libghc-memotrie-doc
Architecture: all
Section: doc
Depends: ${haskell:Depends}, ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: trie-based memo functions${haskell:ShortBlurb}
 MemoTrie provides a basis for memoized functions over some domains,
 using tries.
 .
 ${haskell:Blurb}
