Source: haskell-leksah
Section: haskell
Priority: extra
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Joachim Breitner <nomeata@debian.org>
Build-Depends: debhelper (>= 9)
  , cdbs
  , haskell-devscripts (>= 0.9)
  , ghc
  , libghc-glib-dev (>= 0.13)
  , libghc-glib-dev (<< 0.14)
  , libghc-mtl-dev (>= 1.1.0.2)
  , libghc-mtl-dev (<< 2.3)
  , libghc-parsec3-dev (<< 3.2)
  , libghc-regex-tdfa-dev (>= 1.1)
  , libghc-regex-tdfa-dev (<< 1.3)
  , libghc-regex-tdfa-text-dev
  , libghc-regex-base-dev (>= 0.93)
  , libghc-regex-base-dev (<< 0.94)
  , libghc-utf8-string-dev (>= 0.3.1.1)
  , libghc-utf8-string-dev (<< 0.4)
  , libghc-ltk-dev (>= 0.14)
  , libghc-ltk-dev (<< 0.15)
  , libghc-binary-shared-dev (>= 0.8)
  , libghc-binary-shared-dev (<< 0.9)
  , libghc-hslogger-dev (>= 1.0.7)
  , libghc-hslogger-dev (<< 1.3)
  , libghc-leksah-server-dev (>= 0.14)
  , libghc-leksah-server-dev (<< 0.15)
  , libghc-strict-dev (>= 0.3.2)
  , libghc-strict-dev (<< 0.4)
  , libghc-conduit-dev (>= 1.0.8)
  , libghc-conduit-dev (<< 1.3)
  , libghc-text-dev (>= 0.11.1.5)
  , libghc-text-dev (<< 1.3)
  , libghc-gio-dev (>= 0.13)
  , libghc-gio-dev (<< 0.14)
  , libghc-executable-path-dev (>= 0.0.3)
  , libghc-executable-path-dev (<< 0.1)
  , libghc-vcsgui-dev (>= 0.1.0)
  , libghc-vcsgui-dev (<< 0.2)
  , libghc-vcswrapper-dev (>= 0.1.0)
  , libghc-vcswrapper-dev (<< 0.2)
  , libghc-quickcheck2-dev (>= 2.4.2)
  , libghc-quickcheck2-dev (<< 2.8)
  , libghc-src-exts-dev (>= 1.13.5)
  , libghc-src-exts-dev (<< 1.17)
  , libghc-hlint-dev (>= 1.8.59)
  , libghc-hlint-dev (<< 1.10)
  , libghc-vado-dev (>= 0.0.1)
  , libghc-vado-dev (<< 0.1)
  , libghc-shakespeare-dev (>= 2.0.0.1)
  , libghc-shakespeare-dev (<< 2.1)
  , libghc-network-dev (>= 2.2)
  , libghc-network-dev (<< 2.6)
  , libghc-gtk3-dev (>= 0.13)
  , libghc-gtk3-dev (<< 0.14)
  , libghc-gtksourceview3-dev (>= 0.13)
  , libghc-gtksourceview3-dev (<< 0.14)
Standards-Version: 3.9.4
Homepage: http://hackage.haskell.org/package/leksah
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-leksah
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-leksah

Package: leksah
Depends: ${misc:Depends}, ${shlibs:Depends}
  , leksah-server (>= 0.12.1),
  , leksah-server (<< 0.12.2+)
Architecture: any
Description: haskell editor - GHC interface
 Leksah is an Haskell IDE. It is written in Haskell and provides a graphical
 interface based on Gtk. Leksah is a practical tool to support the Haskell
 development process.
