Source: haskell-pipes-zlib
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Clint Adams <clint@debian.org>
Priority: extra
Section: haskell
Build-Depends: debhelper (>= 9),
 haskell-devscripts (>= 0.10),
 cdbs,
 ghc,
 ghc-prof,
 libghc-pipes-dev (>= 4.0),
 libghc-pipes-dev (<< 4.2),
 libghc-pipes-prof,
 libghc-zlib-dev (>= 0.5),
 libghc-zlib-dev (<< 0.7),
 libghc-zlib-prof,
 libghc-zlib-bindings-dev (>= 0.1),
 libghc-zlib-bindings-dev (<< 0.2),
 libghc-zlib-bindings-prof,
Build-Depends-Indep: ghc-doc,
 libghc-pipes-doc,
 libghc-zlib-doc,
 libghc-zlib-bindings-doc,
Standards-Version: 3.9.8
Homepage: https://github.com/k0001/pipes-zlib
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-haskell/DHG_packages.git/
Vcs-Git: https://anonscm.debian.org/cgit/pkg-haskell/DHG_packages.git
X-Description: Zlib compression and decompression for Pipes streams
 This module exports utility functions to compress and decompress
 pipes streams using the zlib compression codec.

Package: libghc-pipes-zlib-dev
Architecture: any
Depends: ${haskell:Depends},
 ${shlibs:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Provides: ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-pipes-zlib-prof
Architecture: any
Depends: ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Provides: ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-pipes-zlib-doc
Architecture: all
Section: doc
Depends: ${misc:Depends},
 ${haskell:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}
