#!/usr/bin/make -f

DEB_BUILD_DEPENDENCIES = build-arch
# Disable tests, which rely on broken bytestring-handle
DEB_ENABLE_TESTS = no

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/hlibrary.mk
