Package: libghc-bitarray-prof
Source: haskell-bitarray
Version: 0.0.1-1
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 424
Depends: libghc-bitarray-dev (= 0.0.1-1), libghc-array-prof-0.3.0.2-96882, libghc-base-prof-4.3.1.0-178a6
Provides: libghc-bitarray-prof-0.0.1-1ae06
Section: haskell
Priority: extra
Homepage: http://hackage.haskell.org/package/bitarray
Description: Mutable and immutable bit arrays; profiling data
 This package provides mutable and immutable bit arrays
 implemented as packed arrays of 64 bit words. It provides a
 pure interface as well as monadic interfaces for the IO and
 ST monad.
 .
 This package provides a library for the Haskell programming language, compiled
 for profiling.  See http://www.haskell.org/ for more information on Haskell.
