Source: haskell-brainfuck
Section: haskell
Priority: extra
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Clint Adams <clint@debian.org>
Build-Depends: debhelper (>= 9)
  , cdbs
  , haskell-devscripts (>= 0.8.15)
  , ghc
  , ghc-prof
  , libghc-mtl-dev
  , libghc-mtl-prof
Build-Depends-Indep: ghc-doc
  , libghc-mtl-doc
Standards-Version: 3.9.4
Homepage: http://hackage.haskell.org/package/brainfuck
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-brainfuck
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-brainfuck

Package: libghc-brainfuck-dev
Architecture: any
Depends: ${haskell:Depends}
  , ${shlibs:Depends}
  , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: Brainfuck interpreter library${haskell:ShortBlurb}
 It is an interpreter for the Brainfuck language, written in the
 pure, lazy, functional language Haskell.
 .
 ${haskell:Blurb}

Package: libghc-brainfuck-prof
Architecture: any
Depends: ${haskell:Depends}
  , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: Brainfuck interpreter library${haskell:ShortBlurb}
 It is an interpreter for the Brainfuck language, written in the
 pure, lazy, functional language Haskell.
 .
 ${haskell:Blurb}

Package: libghc-brainfuck-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, ${haskell:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: Brainfuck interpreter library${haskell:ShortBlurb}
 It is an interpreter for the Brainfuck language, written in the
 pure, lazy, functional language Haskell.
 .
 ${haskell:Blurb}

Package: brainfuck
Architecture: any
Depends: ${haskell:Depends}
  , ${misc:Depends}
  , ${shlibs:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description:  interpreter for the brainfuck programming language
 This package provides an interpreter for the Brainfuck programming
 language, written in the pure, lazy, functional language Haskell.
