Source: haskell-mmap
Section: haskell
Priority: optional
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Marco Túlio Gontijo e Silva <marcot@riseup.net>
Build-Depends: debhelper (>= 5)
  , cdbs
  , haskell-devscripts (>= 0.6.15+nmu11)
  , ghc6 (>= 6.10.3-2)
  , ghc6-prof (>= 6.10.3-2)
Build-Depends-Indep: ghc6-doc (>= 6.10.3-2)
  , haddock (>= 2.4.2)
  , hscolour (>= 1.8)
Standards-Version: 3.8.2
Homepage: http://hackage.haskell.org/cgi-bin/hackage-scripts/package/mmap
Vcs-Darcs: http://darcs.debian.org/darcs/pkg-haskell/haskell-mmap
DM-Upload-Allowed: yes

Package: libghc6-mmap-dev
Architecture: any
Depends: ${haskell:Depends}
  , ${shlibs:Depends}
  , ${misc:Depends}
Suggests: ${haskell:Suggests}
Description: hashed file storage support code
 This package provides a library for the Haskell programming language.
 See http://www.haskell.org/ for more information on Haskell.
 .
 This library provides a wrapper to mmap(2) or MapViewOfFile, allowing files or
 devices to be lazily loaded into memory as strict or lazy ByteStrings,
 ForeignPtrs or plain Ptrs, using the virtual memory subsystem to do on-demand
 loading. Modifications are also supported.

Package: libghc6-mmap-prof
Architecture: any
Depends: ${haskell:Depends}
  , ${shlibs:Depends}
  , ${misc:Depends}
Description: hashed file storage support code; profiling libraries
 This package provides a library for the Haskell programming language,
 compiled for profiling.
 See http://www.haskell.org/ for more information on Haskell.
 .
 This library provides a wrapper to mmap(2) or MapViewOfFile, allowing files or
 devices to be lazily loaded into memory as strict or lazy ByteStrings,
 ForeignPtrs or plain Ptrs, using the virtual memory subsystem to do on-demand
 loading. Modifications are also supported.

Package: libghc6-mmap-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: hashed file storage support code; documentation
 This package provides the documentation for a library for the Haskell
 programming language.
 See http://www.haskell.org/ for more information on Haskell.
 .
 This library provides a wrapper to mmap(2) or MapViewOfFile, allowing files or
 devices to be lazily loaded into memory as strict or lazy ByteStrings,
 ForeignPtrs or plain Ptrs, using the virtual memory subsystem to do on-demand
 loading. Modifications are also supported.
