Source: haskell-crypto-numbers
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Clint Adams <clint@debian.org>
Priority: extra
Section: haskell
Build-Depends: debhelper (>= 9),
 haskell-devscripts (>= 0.10),
 cdbs,
 ghc,
 ghc-prof,
 libghc-crypto-random-dev (>= 0.0),
 libghc-crypto-random-dev (<< 0.1),
 libghc-crypto-random-prof,
 libghc-vector-dev,
 libghc-vector-prof,
 libghc-byteable-dev,
 libghc-crypto-random-dev,
 libghc-tasty-dev,
 libghc-tasty-hunit-dev,
 libghc-tasty-quickcheck-dev,
Build-Depends-Indep: ghc-doc,
 libghc-crypto-random-doc,
 libghc-vector-doc,
Standards-Version: 3.9.6
Homepage: https://github.com/vincenthz/hs-crypto-numbers
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-crypto-numbers
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-crypto-numbers

Package: libghc-crypto-numbers-dev
Architecture: any
Depends: ${haskell:Depends},
 ${shlibs:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Provides: ${haskell:Provides},
Description: cryptographic numbers: functions and algorithms${haskell:ShortBlurb}
 This provides various functions useful to manipulate numbers in a
 cryptographic context.
 .
 ${haskell:Blurb}

Package: libghc-crypto-numbers-prof
Architecture: any
Depends: ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Provides: ${haskell:Provides},
Description: cryptographic numbers: functions and algorithms${haskell:ShortBlurb}
 This provides various functions useful to manipulate numbers in a
 cryptographic context.
 .
 ${haskell:Blurb}

Package: libghc-crypto-numbers-doc
Architecture: all
Section: doc
Depends: ${misc:Depends},
 ${haskell:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Description: cryptographic numbers: functions and algorithms${haskell:ShortBlurb}
 This provides various functions useful to manipulate numbers in a
 cryptographic context.
 .
 ${haskell:Blurb}
