#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	runghc Setup.lhs configure --ghc \
		--prefix=/usr --docdir=/usr/share/doc/bnfc

override_dh_auto_build:
	runghc Setup.lhs build

override_dh_auto_install:
	runghc Setup.lhs copy --destdir=debian/bnfc
	rm debian/bnfc/usr/share/doc/bnfc/COPYING

override_dh_auto_clean:
	runghc Setup.lhs clean

