Source: haskell-monad-par
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders:
 Iulian Udrea <iulian@physics.org>,
Priority: optional
Section: haskell
Rules-Requires-Root: no
Build-Depends:
 cdbs,
 debhelper (>= 10),
 ghc (>= 8.4.3),
 ghc-prof,
 haskell-devscripts (>= 0.13),
 libghc-abstract-deque-dev (>= 0.1.4),
 libghc-abstract-deque-prof,
 libghc-abstract-par-dev,
 libghc-abstract-par-prof,
 libghc-hunit-dev,
 libghc-monad-par-extras-dev (>= 0.3),
 libghc-monad-par-extras-prof,
 libghc-mwc-random-dev (>= 0.11),
 libghc-mwc-random-prof,
 libghc-parallel-dev (>= 3.1),
 libghc-parallel-prof,
Build-Depends-Indep:
 ghc-doc,
 libghc-abstract-deque-doc,
 libghc-abstract-par-doc,
 libghc-monad-par-extras-doc,
 libghc-mwc-random-doc,
 libghc-parallel-doc,
Standards-Version: 4.6.1
Homepage: https://github.com/simonmar/monad-par
Vcs-Browser: https://salsa.debian.org/haskell-team/DHG_packages/tree/master/p/haskell-monad-par
Vcs-Git: https://salsa.debian.org/haskell-team/DHG_packages.git [p/haskell-monad-par]

Package: libghc-monad-par-dev
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Provides:
 ${haskell:Provides},
Description: parallel programming based on a monad${haskell:ShortBlurb}
 This library offers an alternative parallel programming API to that
 provided by the parallel package. The Par monad allows the simple
 description of parallel computations, and can be used to add
 parallelism to pure Haskell code. The basic API is straightforward:
 the monad supports forking and simple communication in terms of IVars.
 .
 The library comes with an efficient work-stealing implementation, but
 the internals are also exposed so that you can build your own scheduler
 if necessary.
 .
 ${haskell:Blurb}

Package: libghc-monad-par-prof
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Provides:
 ${haskell:Provides},
Description: parallel programming based on a monad${haskell:ShortBlurb}
 This library offers an alternative parallel programming API to that
 provided by the parallel package. The Par monad allows the simple
 description of parallel computations, and can be used to add
 parallelism to pure Haskell code. The basic API is straightforward:
 the monad supports forking and simple communication in terms of IVars.
 .
 The library comes with an efficient work-stealing implementation, but
 the internals are also exposed so that you can build your own scheduler
 if necessary.
 .
 ${haskell:Blurb}

Package: libghc-monad-par-doc
Architecture: all
Section: doc
Depends:
 ${haskell:Depends},
 ${misc:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Description: parallel programming based on a monad${haskell:ShortBlurb}
 This library offers an alternative parallel programming API to that
 provided by the parallel package. The Par monad allows the simple
 description of parallel computations, and can be used to add
 parallelism to pure Haskell code. The basic API is straightforward:
 the monad supports forking and simple communication in terms of IVars.
 .
 The library comes with an efficient work-stealing implementation, but
 the internals are also exposed so that you can build your own scheduler
 if necessary.
 .
 ${haskell:Blurb}
