Source: haskell-werewolf
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders:
 Clint Adams <clint@debian.org>,
Priority: optional
Section: haskell
Rules-Requires-Root: no
Build-Depends:
 cdbs,
 debhelper (>= 10),
 ghc (>= 8.4.3),
 ghc-prof,
 haskell-devscripts (>= 0.13),
 libghc-aeson-dev (>= 0.8),
 libghc-aeson-prof,
 libghc-extra-dev (>= 1.4),
 libghc-extra-dev (<< 1.7),
 libghc-extra-prof,
 libghc-interpolate-dev (>= 0.1),
 libghc-interpolate-dev (<< 0.3),
 libghc-interpolate-prof,
 libghc-lens-dev (>= 4.12),
 libghc-lens-dev (<< 4.17),
 libghc-lens-prof,
 libghc-monadrandom-dev (>= 0.4),
 libghc-monadrandom-dev (<< 0.6),
 libghc-optparse-applicative-dev (>= 0.11),
 libghc-optparse-applicative-dev (<< 0.15),
 libghc-random-shuffle-dev,
Build-Depends-Indep:
 ghc-doc,
 libghc-aeson-doc,
 libghc-extra-doc,
 libghc-interpolate-doc,
 libghc-lens-doc,
Standards-Version: 4.1.4
Homepage: https://github.com/hjwylde/werewolf
Vcs-Browser: https://salsa.debian.org/haskell-team/DHG_packages/tree/master/p/haskell-werewolf
Vcs-Git: https://salsa.debian.org/haskell-team/DHG_packages.git [p/haskell-werewolf]
X-Description: game engine for playing werewolf within a chat client
 A game engine for playing werewolf within a chat client.
 This engine is based off of the party game Mafia, also known as
 Werewolf.

Package: libghc-werewolf-dev
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Conflicts:
 ${haskell:Conflicts},
Provides:
 ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-werewolf-prof
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Conflicts:
 ${haskell:Conflicts},
Provides:
 ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-werewolf-doc
Architecture: all
Section: doc
Depends:
 ${haskell:Depends},
 ${misc:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Conflicts:
 ${haskell:Conflicts},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: werewolf
Architecture: any
Section: games
Depends:
 ${haskell:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Conflicts:
 ${haskell:Conflicts},
Provides:
 ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}
