Source: magic-haskell
Priority: optional
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: John Goerzen <jgoerzen@complete.org>
Build-Depends: debhelper (>= 6.0.0),
 cdbs,
 haskell-devscripts (>= 0.7),
 ghc6,
 libmagic-dev
Standards-Version: 3.8.4
Section: haskell
Vcs-Git: git://git.debian.org/git/pkg-haskell/magic-haskell.git
Vcs-Browser: http://git.debian.org/?p=pkg-haskell/magic-haskell.git;a=summary

Package: libghc6-magic-dev
Section: haskell
Architecture: any
Depends: ${misc:Depends}, ${haskell:Depends}, ${shlibs:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: File type determination library for Haskell
 This package provides a Haskell interface to the C libmagic library.
 With it, you can determine the type of a file by examining its contents
 rather than its name.  The Haskell interface provides a full-featured
 binding.
 .
 This package is built for GHC.  A Hugs package is also available
 in libhugs-magic.

#Package: libhugs-magic
#Section: haskell
#Architecture: any
#Depends: ${misc:Depends}, ${haskell:Depends}, ${shlibs:Depends}
#Suggests: ${haskell:Suggests}
#Description: File type determination library for Haskell
# This package provides a Haskell interface to the C libmagic library.
# With it, you can determine the type of a file by examining its contents
# rather than its name.  The Haskell interface provides a full-featured
# binding.
# .
# This package is built for Hugs.  A GHC package is also available
# in libghc6-magic-dev.

Package: libghc6-magic-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, ${haskell:Depends}
Provides: magic-haskell-doc
Replaces: magic-haskell-doc (<< 1.0.8-4)
Conflicts: magic-haskell-doc (<< 1.0.8-4)
Description: File type determination library for Haskell
 This package provides a Haskell interface to the C libmagic library.
 With it, you can determine the type of a file by examining its contents
 rather than its name.  The Haskell interface provides a full-featured
 binding.
 .
 This package provides documentation for the Haskell magic binding.
