Source: haskell-opengl
Section: haskell
Priority: optional
Maintainer: Kari Pahula <kaol@debian.org>
Standards-Version: 3.8.1
Build-Depends: debhelper (>= 5), haddock (>= 2.4.2), hscolour, haskell-devscripts, cdbs, ghc6, ghc6-prof, ghc6-doc, libgl1-mesa-dev | libgl-dev, libglu1-mesa-dev | libglu-dev, libx11-dev
Homepage: http://www.haskell.org/HOpenGL/

Package: libghc6-opengl-dev
Section: haskell
Architecture: any
Depends: ${haskell:Depends}, ${shlibs:Depends}, ${misc:Depends}, libgl1-mesa-dev | libgl-dev, libglu1-mesa-dev | libglu-dev, libx11-dev
Suggests: libghc6-opengl-prof, libghc6-opengl-doc
Description: Haskell OpenGL binding for GHC
 This package provides a library for the Haskell programming language.
 .
 This library provides a binding for the OpenGL graphics system (GL,
 version 1.5) and its accompanying utility library (GLU, version 1.3).
 OpenGL is the industry's most widely used and supported 2D and 3D
 graphics application programming interface (API), incorporating
 a broad set of rendering, texture mapping, special effects, and
 other powerful visualization functions.  For more information
 about OpenGL, please see: <http://www.opengl.org/>.

Package: libghc6-opengl-prof
Section: haskell
Architecture: any
Depends: ${haskell:Depends}, ${shlibs:Depends}, ${misc:Depends}, libghc6-opengl-dev (= ${binary:Version})
Suggests: libghc6-opengl-doc
Description: Haskell OpenGL binding for GHC; profiling libraries
 This package provides a library for the Haskell programming language,
 compiled for profiling.
 .
 This library provides a binding for the OpenGL graphics system (GL,
 version 1.5) and its accompanying utility library (GLU, version 1.3).
 OpenGL is the industry's most widely used and supported 2D and 3D
 graphics application programming interface (API), incorporating
 a broad set of rendering, texture mapping, special effects, and
 other powerful visualization functions.  For more information
 about OpenGL, please see: <http://www.opengl.org/>.

Package: libghc6-opengl-doc
Section: doc
Architecture: all
Depends: ${haskell:Depends}, ${shlibs:Depends}, ${misc:Depends}
Recommends: ghc6-doc
Suggests: libghc6-opengl-dev, libghc6-opengl-prof
Description: Haskell OpenGL binding for GHC; documentation
 This package provides the documentation for a library for the Haskell
 programming language.
 .
 This library provides a binding for the OpenGL graphics system (GL,
 version 1.5) and its accompanying utility library (GLU, version 1.3).
 OpenGL is the industry's most widely used and supported 2D and 3D
 graphics application programming interface (API), incorporating
 a broad set of rendering, texture mapping, special effects, and
 other powerful visualization functions.  For more information
 about OpenGL, please see: <http://www.opengl.org/>.
