Source: hs-plugins
Section: haskell
Priority: extra
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Joachim Breitner <nomeata@debian.org>
Build-Depends: cdbs (>> 0.4.58)
  , autotools-dev
  , debhelper (>= 7)
  , haskell-devscripts
  , ghc6 (>= 6.10.3-3)
  , ghc6-prof
  , libghc6-haskell-src-dev (>= 1.0.1.3)
  , libghc6-haskell-src-prof
Build-Depends-Indep: ghc6-doc
  , haddock
  , hscolour
  , libghc6-haskell-src-doc
  , plt-scheme
  , texlive-base-bin
  , texlive-latex-base
Standards-Version: 3.8.3
Homepage: http://www.cse.unsw.edu.au/~dons/hs-plugins
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/hs-plugins
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/hs-plugins

Package: libghc6-plugins-dev
Architecture: i386 amd64 sparc
Depends: ${haskell:Depends}
  , ${shlibs:Depends}
  , ${misc:Depends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: Dynamically Loaded Haskell Modules
 hs-plugins is a library for loading plugins written in Haskell into an
 application at runtime. It also provides a mechanism for (re)compiling
 Haskell source at runtime. Thirdly, a combination of runtime compilation
 and dynamic loading provides a suite of eval functions. Values exported
 by plugins are transparently available to Haskell host applications, and
 bindings exist to use Haskell plugins from at least C and Objective C
 programs.

Package: libghc6-plugins-prof
Architecture: i386 amd64 sparc
Depends: ${haskell:Depends}
  , ${shlibs:Depends}
  , ${misc:Depends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: Dynamically Loaded Haskell Modules; profiling libraries
 hs-plugins is a library for loading plugins written in Haskell into an
 application at runtime. It also provides a mechanism for (re)compiling
 Haskell source at runtime. Thirdly, a combination of runtime compilation
 and dynamic loading provides a suite of eval functions. Values exported
 by plugins are transparently available to Haskell host applications, and
 bindings exist to use Haskell plugins from at least C and Objective C
 programs.

Package: hs-plugins-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: API documentation of the Haskell plugins library
 hs-plugins is a library for loading plugins written in Haskell into an
 application at runtime. It also provides a mechanism for (re)compiling
 Haskell source at runtime. Thirdly, a combination of runtime compilation
 and dynamic loading provides a suite of eval functions. Values exported
 by plugins are transparently available to Haskell host applications, and
 bindings exist to use Haskell plugins from at least C and Objective C
 programs.
 .
 This package contains the API documentation for the Haskell plugins library.
