Source: carettah
Priority: extra
Section: haskell
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Kiwamu Okabe <kiwamu@debian.or.jp>
Build-Depends: debhelper (>= 9),
               haskell-devscripts (>= 0.8.13),
               cdbs,
               ghc,
               ghc-prof,
               libghc-cairo-dev,
               libghc-cairo-prof,
               libghc-gtk-dev,
               libghc-gtk-prof,
               libghc-mtl-dev,
               libghc-mtl-prof,
               libghc-pandoc-dev,
               libghc-pandoc-prof,
               libghc-pango-dev,
               libghc-pango-prof,
               libghc-hcwiid-dev,
               libghc-hcwiid-prof,
               libghc-highlighting-kate-dev,
               libghc-highlighting-kate-prof,
               libcwiid-dev
Standards-Version: 3.9.4
Homepage: http://carettah.masterq.net/
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/carettah
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/carettah
DM-Upload-Allowed: yes

Package: carettah
Architecture: any
Section: misc
Depends: ${shlibs:Depends}, ${haskell:Depends}, ${misc:Depends}, fonts-ipafont
Description: Presentation tool written with Haskell.
 A presentation tool written with Haskell.
 Carettah make a new presentation with command 'carettah -n markdown.md'.
 And it's controled by keyboard or Wii Remote.
 .
 It's a clone of Rabbit <http://rabbit-shockers.org/>.
