Source: haskell-hopenpgp-tools
Section: haskell
Priority: extra
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Clint Adams <clint@debian.org>
Build-Depends: debhelper (>= 9)
  , cdbs
  , haskell-devscripts (>= 0.8.15)
  , ghc
  , libghc-aeson-dev
  , libghc-ansi-wl-pprint-dev
  , libghc-attoparsec-dev (>= 0.10.0.0)
  , libghc-base16-bytestring-dev
  , libghc-cereal-dev
  , libghc-cereal-conduit-dev
  , libghc-conduit-dev (>= 1.1)
  , libghc-conduit-extra-dev (>= 1.1)
  , libghc-crypto-pubkey-dev
  , libghc-cryptohash-dev (>= 0.7.7)
  , libghc-errors-dev
  , libghc-fgl-dev (<< 5.5)
  , libghc-hopenpgp-dev (>= 1.2)
  , libghc-ixset-dev
  , libghc-lens-dev
  , libghc-openpgp-asciiarmor-dev (>= 0.1)
  , libghc-optparse-applicative-dev (>= 0.7.0)
  , libghc-resourcet-dev
  , libghc-text-dev
  , libghc-transformers-dev
  , libghc-yaml-dev
Standards-Version: 3.9.5
Homepage: http://hackage.haskell.org/package/hopenpgp-tools
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-hopenpgp-tools
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-hopenpgp-tools

Package: hopenpgp-tools
Architecture: any
Depends: ${haskell:Depends}
  , ${shlibs:Depends}
  , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: hOpenPGP-based command-line tools
 These utilities, hot, hokey, and hkt, are works in progress.  They
 provide some OpenPGP-related functionality.
