Source: haskell-hs3
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Joachim Breitner <nomeata@debian.org>
Priority: extra
Section: haskell
Build-Depends: debhelper (>= 9),
 haskell-devscripts (>= 0.9),
 cdbs,
 ghc,
 ghc-prof,
 libghc-crypto-dev (>= 4.1.0),
 libghc-crypto-prof,
 libghc-http-dev (>= 1:4000.0.0),
 libghc-http-prof,
 libghc-missingh-dev (>= 0.18.6),
 libghc-missingh-prof,
 libghc-dataenc-dev,
 libghc-dataenc-prof,
 libghc-hxt-dev (>= 9.0.0),
 libghc-hxt-dev (<< 10),
 libghc-hxt-prof,
 libghc-network-dev (>= 2.6),
 libghc-network-prof,
 libghc-network-uri-dev (>= 2.6),
 libghc-network-uri-prof,
 libghc-random-dev,
 libghc-random-prof,
 libghc-regex-compat-dev,
 libghc-regex-compat-prof,
 libghc-utf8-string-dev,
 libghc-utf8-string-prof,
Build-Depends-Indep: ghc-doc,
 libghc-crypto-doc,
 libghc-http-doc,
 libghc-missingh-doc,
 libghc-dataenc-doc,
 libghc-hxt-doc,
 libghc-network-doc,
 libghc-network-uri-doc,
 libghc-random-doc,
 libghc-regex-compat-doc,
 libghc-utf8-string-doc,
Standards-Version: 3.9.4
Homepage: http://gregheartsfield.com/hS3/
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-hs3
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-hs3

Package: libghc-hs3-dev
Architecture: any
Depends: ${haskell:Depends},
 ${shlibs:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Provides: ${haskell:Provides},
Description: interface to Amazon's Simple Storage Service for Haskell${haskell:ShortBlurb}
 This is the Haskell S3 library. It provides an interface to Amazon's Simple
 Storage Service (S3), allowing Haskell developers to store and retrieve data
 from the S3 cloud.
 .
 ${haskell:Blurb}

Package: libghc-hs3-prof
Architecture: any
Depends: ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Provides: ${haskell:Provides},
Description: interface to Amazon's Simple Storage Service for Haskell${haskell:ShortBlurb}
 This is the Haskell S3 library. It provides an interface to Amazon's Simple
 Storage Service (S3), allowing Haskell developers to store and retrieve data
 from the S3 cloud.
 .
 ${haskell:Blurb}

Package: libghc-hs3-doc
Architecture: all
Section: doc
Depends: ${misc:Depends},
 ${haskell:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Description: interface to Amazon's Simple Storage Service for Haskell${haskell:ShortBlurb}
 This is the Haskell S3 library. It provides an interface to Amazon's Simple
 Storage Service (S3), allowing Haskell developers to store and retrieve data
 from the S3 cloud.
 .
 ${haskell:Blurb}
