Source: helium
Section: devel
Priority: optional
Maintainer: Arjan Oosting <arjan@debian.org>
Build-Depends: autotools-dev, debhelper (>= 5), dpatch,
 ghc6 (>= 6.8.2), haddock, libghc6-mtl-dev, libghc6-parsec-dev, uuagc, libghc6-editline-dev
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.debian.org/svn/pkg-haskell/packages/helium
Vcs-Browser: http://svn.debian.org/wsvn/pkg-haskell/packages/helium
Homepage: http://www.cs.uu.nl/helium/index.html

Package: helium
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: compiler used for learning the programming language Haskell
 Helium is a functional programming language and a compiler designed
 especially for learning Haskell. Quality of the error messages has
 been the main concern both in the choice of the language features and
 in the implementation of the compiler. The goal of the language and
 the compiler is to let students (or anyone) learn functional
 programming more quickly and with more fun.
 .
 Note: Helium does not support type classes yet. For that reason it is
 incompatible with Haskell text books.
