Source: helium
Section: haskell
Priority: optional
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Joachim Breitner <nomeata@debian.org>
Build-Depends: autotools-dev,
   debhelper (>= 9),
   haskell-devscripts,
   ghc,
   libghc-mtl-dev,
   libghc-parsec3-dev,
   libghc-network-dev,
   libghc-process-dev,
   libghc-transformers-dev,
   libghc-wl-pprint-dev,
   libghc-top-dev,
   libghc-lvmlib-dev,
Standards-Version: 3.9.4
Homepage: http://www.cs.uu.nl/wiki/bin/view/Helium/WebHome
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/helium
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/helium

Package: helium
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lvmrun
Description: compiler used for learning the programming language Haskell
 Helium is a compiler for a subset of Haskell that aims at delivering high
 quality type error messages particularly for beginner programmers. It also
 includes facilities for specializing type error diagnosis for embedded domain
 specific languages. The compiler supports Haskell 98, but without the ability
 to define new type classes and instances.
