Source: allure
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Clint Adams <clint@debian.org>
Priority: optional
Section: haskell
Build-Depends: debhelper (>= 10),
 haskell-devscripts-minimal | haskell-devscripts (>= 0.8),
 cdbs,
 ghc,
 ghc-prof,
 libghc-lambdahack-dev (>= 0.7.1.0),
 libghc-lambdahack-dev (<< 0.7.2.0),
 libghc-async-dev (>= 2),
 libghc-enummapset-th-dev (>= 0.6.0.0),
 libghc-optparse-applicative-dev (>= 0.13),
 libghc-random-dev (>= 1.1),
 libghc-text-dev (>= 0.11.2.3),
 libghc-zlib-dev (>= 0.5.3.1),
 libghc-lambdahack-dev,
Standards-Version: 4.1.4
Homepage: http://allureofthestars.com

Package: allure
Architecture: any
Section: games
Depends: ${haskell:Depends},
 ${misc:Depends},
 ${shlibs:Depends}
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Conflicts: ${haskell:Conflicts},
Provides: ${haskell:Provides},
Description: near-future Sci-Fi roguelike and tactical squad game
 Allure of the Stars is a near-future Sci-Fi roguelike and tactical
 squad game.

