Source: haskell-monad-loops
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders:
 Clint Adams <clint@debian.org>,
Priority: optional
Section: haskell
Build-Depends:
 cdbs,
 debhelper (>= 9),
 ghc (>= 8),
 ghc-prof,
 haskell-devscripts (>= 0.13),
 libghc-tasty-dev,
 libghc-tasty-hunit-dev,
Build-Depends-Indep:
 ghc-doc,
Standards-Version: 4.1.4
Homepage: https://github.com/mokus0/monad-loops
Vcs-Browser: https://salsa.debian.org/haskell-team/DHG_packages/tree/master/p/haskell-monad-loops
Vcs-Git: https://salsa.debian.org/haskell-team/DHG_packages.git

Package: libghc-monad-loops-dev
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Provides:
 ${haskell:Provides},
Description: monadic looping${haskell:ShortBlurb}
 It contains some useful control operators for looping.
 .
 ${haskell:Blurb}

Package: libghc-monad-loops-prof
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Provides:
 ${haskell:Provides},
Description: monadic looping${haskell:ShortBlurb}
 It contains some useful control operators for looping.
 .
 ${haskell:Blurb}

Package: libghc-monad-loops-doc
Architecture: all
Section: doc
Depends:
 ${haskell:Depends},
 ${misc:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Description: monadic looping${haskell:ShortBlurb}
 It contains some useful control operators for looping.
 .
 ${haskell:Blurb}
