#!/usr/bin/make -f

DEB_SETUP_GHC_CONFIGURE_ARGS := -fpango

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/hlibrary.mk

build/yi:: build-ghc-stamp
binary-fixup/yi::
	install -m 755 -s -D dist-ghc/build/yi/yi debian/yi/usr/bin/yi || true
	install -m 755 -s -D dist-ghc/build/parserTest/parserTest debian/yi/usr/bin/parserTest || true
	install -m 644 -D art/*.png debian/yi/usr/share/yi-0.6.7.0/art || true
	install -m 644 -D art/*.pdf debian/yi/usr/share/yi-0.6.7.0/art || true
	install -m 644 -D example-configs/*.hs debian/yi/usr/share/yi-0.6.7.0/example-configs || true
	install -m 644 -D art/*.xpm debian/yi/usr/share/yi-0.6.7.0/art || true
	install -m 644 -D debian/*.desktop debian/yi/usr/share/applications || true
