[Desktop Entry]
Version=1.0
Name=Yi (Emacs keymap)
GenericName=Text Editor
Comment=View and edit files
MimeType=text/plain;text/x-haskell;text/x-literatehaskell
Exec=/usr/bin/yi -fpango --as=emacs %F
TryExec=yi
Icon=/usr/share/yi-0.6.6.0/art/yi+lambda-fat-32.png
Type=Application
Terminal=false
Categories=Utility;Development;TextEditor;
