Source: haskell-terminfo
Section: haskell
Priority: optional
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Marco Túlio Gontijo e Silva <marcot@riseup.net>
Standards-Version: 3.8.1
Build-Depends: debhelper (>= 5)
  , cdbs
  , haskell-devscripts (>= 0.6.15+nmu11)
  , ghc6 (>= 6.10.3-2)
  , ghc6-prof (>= 6.10.3-2)
  , libncurses5-dev
Build-Depends-Indep: ghc6-doc (>= 6.10.3-2)
  , haddock (>= 2.4.2)
  , hscolour
Homepage: http://hackage.haskell.org/cgi-bin/terminfo/package/terminfo
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-terminfo
DM-Upload-Allowed: yes

Package: libghc6-terminfo-dev
Architecture: any
Depends: libncurses5-dev
  , ${haskell:Depends}
  , ${shlibs:Depends}
  , ${misc:Depends}
Suggests: ${haskell:Suggests}
Description: Haskell bindings to the terminfo library
 This package provides a library for the Haskell programming language.
 See http://www.haskell.org/ for more information on Haskell.
 .
 This library provides an interface to the terminfo database (via bindings to
 the curses library). Terminfo allows POSIX systems to interact with a variety
 of terminals using a standard set of capabilities.

Package: libghc6-terminfo-prof
Architecture: any
Depends: ${haskell:Depends}
  , ${shlibs:Depends}
  , ${misc:Depends}
Description: Haskell bindings to the terminfo library; profiling libraries
 This package provides a library for the Haskell programming language,
 compiled for profiling.
 See http://www.haskell.org/ for more information on Haskell.
 .
 This library provides an interface to the terminfo database (via bindings to
 the curses library). Terminfo allows POSIX systems to interact with a variety
 of terminals using a standard set of capabilities.

Package: libghc6-terminfo-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: Haskell bindings to the terminfo library; documentation
 This package provides the documentation for a library for the Haskell
 programming language.
 See http://www.haskell.org/ for more information on Haskell.
 .
 This library provides an interface to the terminfo database (via bindings to
 the curses library). Terminfo allows POSIX systems to interact with a variety
 of terminals using a standard set of capabilities.
