Source: haskell-parseargs
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Clint Adams <clint@debian.org>
Priority: extra
Section: haskell
Build-Depends: debhelper (>= 9),
 haskell-devscripts (>= 0.10),
 cdbs,
 ghc,
 ghc-prof,
Build-Depends-Indep: ghc-doc,
Standards-Version: 3.9.6
Homepage: http://github.com/BartMassey/parseargs
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-parseargs
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-parseargs

Package: libghc-parseargs-dev
Architecture: any
Depends: ${haskell:Depends},
 ${shlibs:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Provides: ${haskell:Provides},
Description: Command-line argument parsing library${haskell:ShortBlurb}
 It parses command-line arguments.
 .
 ${haskell:Blurb}

Package: libghc-parseargs-prof
Architecture: any
Depends: ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Provides: ${haskell:Provides},
Description: Command-line argument parsing library${haskell:ShortBlurb}
 It parses command-line arguments.
 .
 ${haskell:Blurb}

Package: libghc-parseargs-doc
Architecture: all
Section: doc
Depends: ${misc:Depends},
 ${haskell:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Description: Command-line argument parsing library${haskell:ShortBlurb}
 It parses command-line arguments.
 .
 ${haskell:Blurb}
