Source: haskell-setenv
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Joachim Breitner <nomeata@debian.org>
Priority: extra
Section: haskell
Build-Depends: debhelper (>= 9),
 haskell-devscripts (>= 0.10),
 cdbs,
 ghc,
 ghc-prof,
Build-Depends-Indep: ghc-doc,
Standards-Version: 3.9.6
Homepage: http://hackage.haskell.org/package/setenv
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-setenv
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-setenv

Package: libghc-setenv-dev
Architecture: any
Depends: ${haskell:Depends},
 ${shlibs:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Provides: ${haskell:Provides},
Description: Cross-platform library for setting environment variables${haskell:ShortBlurb}
 This package provides a cross-platform library for setting environment
 variables.
 .
 ${haskell:Blurb}

Package: libghc-setenv-prof
Architecture: any
Depends: ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Provides: ${haskell:Provides},
Description: Cross-platform library for setting environment variables${haskell:ShortBlurb}
 This package provides a cross-platform library for setting environment
 variables.
 .
 ${haskell:Blurb}

Package: libghc-setenv-doc
Architecture: all
Section: doc
Depends: ${misc:Depends},
 ${haskell:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Description: Cross-platform library for setting environment variables${haskell:ShortBlurb}
 This package provides a cross-platform library for setting environment
 variables.
 .
 ${haskell:Blurb}
