Source: haskell-attoparsec-enumerator
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Clint Adams <clint@debian.org>
Priority: extra
Section: haskell
Build-Depends: debhelper (>= 9),
 haskell-devscripts (>= 0.10),
 cdbs,
 ghc,
 ghc-prof,
 libghc-attoparsec-dev (>= 0.10),
 libghc-attoparsec-dev (<< 0.14),
 libghc-attoparsec-prof,
 libghc-enumerator-dev (>= 0.4),
 libghc-enumerator-dev (<< 0.5),
 libghc-enumerator-prof,
 libghc-text-dev,
 libghc-text-prof,
Build-Depends-Indep: ghc-doc,
 libghc-attoparsec-doc,
 libghc-enumerator-doc,
 libghc-text-doc,
Standards-Version: 3.9.6
Homepage: https://john-millikin.com/software/attoparsec-enumerator/
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-haskell/DHG_packages.git/
Vcs-Git: https://anonscm.debian.org/cgit/pkg-haskell/DHG_packages.git

Package: libghc-attoparsec-enumerator-dev
Architecture: any
Depends: ${haskell:Depends},
 ${shlibs:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Provides: ${haskell:Provides},
Description: convert an Attoparsec parser into an iteratee${haskell:ShortBlurb}
 It allows an Attoparsec parser to receive input incrementally from
 an enumerator.  This could be used for parsing large files or
 implementing binary network protocols.
 .
 ${haskell:Blurb}

Package: libghc-attoparsec-enumerator-prof
Architecture: any
Depends: ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Provides: ${haskell:Provides},
Description: convert an Attoparsec parser into an iteratee${haskell:ShortBlurb}
 The library allows an Attoparsec parser to receive input incrementally from
 an enumerator.  This could be used for parsing large files or
 implementing binary network protocols.
 .
 ${haskell:Blurb}

Package: libghc-attoparsec-enumerator-doc
Architecture: all
Section: doc
Depends: ${misc:Depends},
 ${haskell:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Description: convert an Attoparsec parser into an iteratee${haskell:ShortBlurb}
 The library allows an Attoparsec parser to receive input incrementally from
 an enumerator.  This could be used for parsing large files or
 implementing binary network protocols.
 .
 ${haskell:Blurb}
