Source: haskell-securemem
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Clint Adams <clint@debian.org>
Priority: extra
Section: haskell
Build-Depends: debhelper (>= 9),
 haskell-devscripts (>= 0.9),
 cdbs,
 ghc,
 ghc-prof,
 libghc-byteable-dev (>= 0.1.1),
 libghc-byteable-prof,
 libghc-memory-dev (>= 0.7),
 libghc-memory-prof,
Build-Depends-Indep: ghc-doc,
 libghc-byteable-doc,
 libghc-memory-doc,
Standards-Version: 3.9.6
Homepage: http://github.com/vincenthz/hs-securemem
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-securemem
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-securemem
X-Description: auto-scrubbing and const-time-eq memory chunk abstraction
 SecureMem is similar to ByteString, except that it provides a memory
 chunk that will be auto-scrubbed after it run out of scope.

Package: libghc-securemem-dev
Architecture: any
Depends: ${haskell:Depends},
 ${shlibs:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Provides: ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-securemem-prof
Architecture: any
Depends: ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Provides: ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-securemem-doc
Architecture: all
Section: doc
Depends: ${misc:Depends},
 ${haskell:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}
