#!/usr/bin/make -f

DEB_ENABLE_TESTS = yes
DEB_SETUP_BIN_NAME = debian/hlibrary.setup
DEB_CABAL_PACKAGE = githash
DEB_DEFAULT_COMPILER = ghc

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/hlibrary.mk

clean::
	if ! test -d .git && ! echo "${DEB_BUILD_PROFILES}" | grep -q nocheck; then \
	git init; \
	git config --local user.email "nobody@foo.test"; \
	git config --local user.name "Foo Bar"; \
	git add README.md; \
	git commit -m "this is terrible"; \
	fi
