Source: cabal-debian
Priority: extra
Section: haskell
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Clint Adams <clint@debian.org>, Dmitry Bogatov <KAction@gnu.org>
Build-Depends: debhelper (>= 9)
  , cdbs
  , haskell-devscripts (>= 0.9)
  , ghc
  , ghc-prof
  , libghc-lens-dev
  , libghc-lens-prof
  , libghc-debian-dev (>> 3.87)
  , libghc-debian-prof
  , libghc-diff-dev
  , libghc-diff-prof
  , libghc-hsemail-dev
  , libghc-hsemail-prof
  , libghc-hunit-dev
  , libghc-hunit-prof
  , libghc-memoize-dev
  , libghc-memoize-prof
  , libghc-mtl-dev
  , libghc-mtl-prof
  , libghc-parsec3-dev
  , libghc-parsec3-prof
  , libghc-puremd5-dev
  , libghc-puremd5-prof
  , libghc-regex-tdfa-dev
  , libghc-regex-tdfa-prof
  , libghc-set-extra-dev
  , libghc-set-extra-prof
  , libghc-syb-dev
  , libghc-syb-prof
  , libghc-text-dev
  , libghc-text-prof
  , libghc-unixutils-dev
  , libghc-unixutils-prof
  , libghc-utf8-string-dev
  , libghc-utf8-string-prof
  , libghc-cabal-dev (>= 1.9)
  , libghc-cabal-prof,
  , libghc-data-default-dev,
  , libghc-data-default-prof
  , libghc-network-uri-dev
  , libghc-network-uri-prof
Standards-Version: 3.9.6
Homepage: https://github.com/ddssff/cabal-debian

Package: cabal-debian
Architecture: any
Section: utils
Depends: ${shlibs:Depends}
       , ${haskell:Depends}
       , ${misc:Depends}
       , debhelper (>= 9)
Recommends: apt-file
Conflicts: haskell-debian-utils (<< 3.59)
Description: Create a debianization for a cabal package
 Tool for creating debianizations of Haskell packages based on the .cabal
 file.  If apt-file is installed it will use it to discover what is the
 debian package name of a C library.
