Source: haskell-keter
Section: haskell
Priority: extra
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Christopher Reichert <creichert07@gmail.com>
Build-Depends: debhelper (>= 9)
  , cdbs
  , haskell-devscripts (>= 0.8.15)
  , ghc
  , ghc-prof
  , c2hs
  , libghc-text-dev         (>= 0.11)
  , libghc-text-dev         (<< 1.3)
  , libghc-text-prof
  , libghc-transformers-dev (>= 0.2)
  , libghc-transformers-dev (<< 0.5)
  , libghc-transformers-prof
  , libghc-time-dev
  , libghc-time-prof
  , libghc-tar-dev (>= 0.4)
  , libghc-tar-prof
  , libghc-template-haskell-dev
  , libghc-template-haskell-prof
  , libghc-blaze-builder-dev (>= 0.3)
  , libghc-blaze-builder-dev (<< 0.4)
  , libghc-blaze-builder-prof
  , libghc-yaml-dev (>= 0.8.4)
  , libghc-yaml-dev (<< 0.9)
  , libghc-yaml-prof
  , libghc-unix-compat-dev (>= 0.3)
  , libghc-unix-compat-dev (<< 0.5)
  , libghc-unix-compat-prof
  , libghc-fsnotify-dev (>= 0.0.11)
  , libghc-fsnotify-prof
  , libghc-system-filepath-dev (>= 0.4)
  , libghc-system-filepath-dev (<< 0.5)
  , libghc-system-filepath-prof
  , libghc-system-fileio-dev (>= 0.3)
  , libghc-system-fileio-dev (<< 0.4)
  , libghc-system-fileio-prof
  , libghc-conduit-dev (>= 1.1)
  , libghc-conduit-prof
  , libghc-conduit-extra-dev (>= 1.1)
  , libghc-conduit-extra-prof
  , libghc-network-conduit-tls-dev  (>= 1.1)
  , libghc-network-conduit-tls-prof
  , libghc-http-reverse-proxy-dev (>= 0.4)
  , libghc-http-reverse-proxy-dev (<< 0.5)
  , libghc-http-reverse-proxy-prof
  , libghc-wai-app-static-dev (>= 3.0)
  , libghc-wai-app-static-dev (<< 3.1)
  , libghc-wai-app-static-prof
  , libghc-wai-dev (>= 3.0)
  , libghc-wai-dev (<< 3.1)
  , libghc-wai-prof
  , libghc-wai-extra-dev (>= 3.0)
  , libghc-wai-extra-dev (<< 3.1)
  , libghc-wai-extra-prof
  , libghc-http-types-dev
  , libghc-http-types-prof
  , libghc-regex-tdfa-dev (>= 1.1)
  , libghc-regex-tdfa-prof
  , libghc-attoparsec-dev (>= 0.10)
  , libghc-attoparsec-prof
  , libghc-http-client-dev
  , libghc-http-client-prof
  , libghc-http-conduit-dev (>= 2.1)
  , libghc-http-conduit-prof
  , libghc-case-insensitive-dev
  , libghc-case-insensitive-prof
  , libghc-array-dev
  , libghc-array-prof
  , libghc-mtl-dev
  , libghc-mtl-prof
  , libghc-warp-dev
  , libghc-warp-prof
  , libghc-warp-tls-dev
  , libghc-warp-tls-prof
  , libghc-aeson-dev
  , libghc-aeson-prof
  , libghc-unordered-containers-dev
  , libghc-unordered-containers-prof
  , libghc-vector-dev
  , libghc-vector-prof
  , libghc-stm-dev (>= 2.4)
  , libghc-stm-prof
  , libghc-async-dev
  , libghc-async-prof
  , libghc-lifted-base-dev
  , libghc-lifted-base-prof
  , libghc-hspec-dev (>= 1.3)
  , libghc-hspec-prof
Build-Depends-Indep: ghc-doc
  , libghc-text-doc
  , libghc-transformers-doc
  , libghc-time-doc
  , libghc-tar-doc
  , libghc-template-haskell-doc
  , libghc-blaze-builder-doc
  , libghc-yaml-doc
  , libghc-unix-compat-doc
  , libghc-fsnotify-doc
  , libghc-system-filepath-doc
  , libghc-system-fileio-doc
  , libghc-conduit-doc
  , libghc-conduit-extra-doc
  , libghc-network-conduit-tls-doc
  , libghc-http-reverse-proxy-doc
  , libghc-unix-doc
  , libghc-wai-app-static-doc
  , libghc-wai-doc
  , libghc-wai-extra-doc
  , libghc-http-types-doc
  , libghc-regex-tdfa-doc
  , libghc-attoparsec-doc
  , libghc-http-client-doc
  , libghc-http-conduit-doc
  , libghc-case-insensitive-doc
  , libghc-array-doc
  , libghc-mtl-doc
  , libghc-warp-doc
  , libghc-warp-tls-doc
  , libghc-aeson-doc
  , libghc-unordered-containers-doc
  , libghc-vector-doc
  , libghc-stm-doc
  , libghc-async-doc
  , libghc-lifted-base-doc
  , libghc-hspec-doc
Standards-Version: 3.9.6
Homepage: https://hackage.haskell.org/package/keter
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-keter
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-keter
X-Description:  Web application deployment manager, focusing on Haskell web frameworks
    .
    Handles deployment of web apps, providing a reverse proxy to achieve
    zero downtime deployments. For more information, please see the
    README on Github: <https://github.com/snoyberg/keter#readme>

Package: libghc-keter-dev
Architecture: any
Depends: ${haskell:Depends}
  , ${shlibs:Depends}
  , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-keter-prof
Architecture: any
Depends: ${haskell:Depends}
  , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-keter-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, ${haskell:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}
