Source: haskell-dynamic-state
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Priority: optional
Section: haskell
Build-Depends: debhelper (>= 7.0)
               , haskell-devscripts (>= 0.8)
               , cdbs
               , ghc
               , ghc-prof
               , libghc-concrete-typerep-dev (>= 0.1.0.2)
               , libghc-concrete-typerep-dev (<< 0.1.1)
               , libghc-concrete-typerep-prof (>= 0.1.0.2)
               , libghc-concrete-typerep-prof (<< 0.1.1)
               , libghc-hashable-dev
               , libghc-hashable-prof
               , libghc-unordered-containers-dev
               , libghc-unordered-containers-prof
Build-Depends-Indep: ghc-doc
                     , libghc-concrete-typerep-doc (>= 0.1.0.2)
                     , libghc-concrete-typerep-doc (<< 0.1.1)
                     , libghc-hashable-doc
                     , libghc-unordered-containers-doc

Package: libghc-dynamic-state-dev
Architecture: any
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Replaces: ${haskell:Replaces}
Description: Optionally serializable dynamic state keyed by type
 Optionally serializable dynamic state keyed by type
 .
  Author: Carter Charbonneau
  Upstream-Maintainer: zcarterc@gmail.com
 .
 This package provides a library for the Haskell programming language.
 See http:///www.haskell.org/ for more information on Haskell.

Package: libghc-dynamic-state-prof
Architecture: any
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Replaces: ${haskell:Replaces}
Description: Optionally serializable dynamic state keyed by type
 Optionally serializable dynamic state keyed by type
 .
  Author: Carter Charbonneau
  Upstream-Maintainer: zcarterc@gmail.com
 .
 This package provides a library for the Haskell programming language, compiled
 for profiling.  See http:///www.haskell.org/ for more information on Haskell.

Package: libghc-dynamic-state-doc
Architecture: all
Section: doc
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Replaces: ${haskell:Replaces}
Description: Optionally serializable dynamic state keyed by type
 Optionally serializable dynamic state keyed by type
 .
  Author: Carter Charbonneau
  Upstream-Maintainer: zcarterc@gmail.com
 .
 This package provides the documentation for a library for the Haskell
 programming language.
 See http:///www.haskell.org/ for more information on Haskell.
